/** User Profile **/
.user-profile-header {
  height: 64px;
  background-color: #5F6368;
  color: white;
  display: flex;
  flex-direction: row;

  > * {
    justify-self: center;
    align-self: center;
    padding: 8px;
  }
}

.profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  border: 0 solid black;
}

.profile-image-lg {
  @extend .profile-image;
  width: 64px;
  height: 64px;
}

.login-button {
  margin-right: 8px;
}

.user-card {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-radius: 5px;

  > .details {
    margin-left: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > * {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 20px;
    }

    > .name {
      font-weight: bold;
      font-size: small;
    }

    > .email {
      font-size: x-small;
      font-style: italic;
    }
  }
}
