<div class="user-profile-header">
  @if (auth.isAuthenticated$ | async) {
    <ng-container class="profile-wrapper">
    </ng-container>
  } @else {
    <button mat-flat-button
      (click)="auth.loginWithRedirect({appState: {target: '/'}})"
      class="login-button">
      <mat-icon>login</mat-icon>
      Sign In
    </button>
  }

  @if (currentUser()) {
    <div>
      <img
        [src]="currentUser()?.picture ? currentUser().picture : '/assets/portrait_placeholder.png'"
        referrerpolicy="no-referrer"
        class="profile-image"
        [matMenuTriggerFor]="userMenu">
      <mat-menu #userMenu="matMenu" style="width: 250px;">
        <div mat-menu-item>
          <div class="user-card">
            <img
              [src]="currentUser().picture"
              referrerpolicy="no-referrer"
              class="profile-image"
              >
            <div class="details">
              <div class="name">{{currentUser().name}}</div>
              <div class="email">{{currentUser().email}}</div>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="auth.logout({ logoutParams: { returnTo: env.adminLogoutUrl } })">
          <mat-icon>logout</mat-icon>
          Sign Out
        </button>
      </mat-menu>
    </div>
  }
</div>
