<div>
  <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <span *ngIf="auth.user$ | async as user">
      Current User: {{ user.name }} ({{ user.email }})
    </span>
  </ng-container>

  <ng-template #loggedOut>
    Please log in to manage testing event modules.
  </ng-template>

  <div class="event-module-status-table"
       *ngFor="let reg of registrations">
    <div class="event-header">
      {{reg.eventModule.title}}
    </div>
    <div class="event-row-header">
      <div class="event-row-header-cell">
        Test Name
      </div>
      <div class="event-row-header-cell">
        Description
      </div>
      <div class="event-row-header-cell">
        Status
      </div>
      <div class="event-row-header-cell">
      </div>
    </div>
    <div class="event-row" *ngFor="let item of reg.items">
      <div class="event-row-cell">
        {{item.name}}
      </div>
      <div class="event-row-cell">
        Description Pending
      </div>
      <div class="event-row-cell">
        {{item.status}}
      </div>
      <div class="event-row-cell-button">
        <button mat-flat-button (click)="loadTestContainer(item, reg)">
          Launch
        </button>
      </div>
    </div>
    <div class="event-footer">
      (Placeholder) 1 of {{reg.items.length}} Complete
    </div>
  </div>
</div>
