<div>
  1. (Instructions here on the test case CSV, including link to the template and example screenshots?).
  <div style="margin-left: 15px; margin-right: 15px">
    Contents must be a complete MDI Document Bundle or Toxicology Bundle.

    <div class="top-spacer">
      <input type="file" class="file-input" (click)="fileUpload.value=null"
             accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
             (change)="onFileSelected($event)" #fileUpload>
      <button mat-raised-button color="success" class="upload-btn"
              (click)="clearUI(); fileUpload.click();" [disabled]=isLoading>
        <mat-icon>post_add</mat-icon>
        Select File
      </button>
      <span id="filename">{{file?.name}}</span>
    </div>

  </div>

  <div class="top-spacer">
    2. Submit your Bundle to the Raven FHIR Sever.
    <div style="margin-left: 15px; margin-top: 10px">
      <button mat-raised-button color="primary"  (click)="onSubmit()">
        <mat-icon>send</mat-icon>
        Submit
      </button>
    </div>
  </div>

  <div class="top-spacer">
    3. Review your record(s) below in a summary or as the generated FHIR Document.
    <div>
      <div class="row">
        <div class="column" style="margin-right: 1em">
          <table mat-table [dataSource]="dataSource"  class="mat-elevation-z1">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> # </th>
              <td mat-cell *matCellDef="let case"> {{case.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let case"> {{case.name}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let case"> {{case.status}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div class="column" style="margin-left: 1em">
          <mat-tab-group  class="mat-elevation-z1">
            <!-- Case Narrative -->
            <mat-tab label="Case Narrative">
              <div style="margin: 1em" [innerHTML]="caseNarrative"></div>
            </mat-tab>
            <mat-tab label="FHIR Bundle"> FHIR Bundle Content</mat-tab>
            <mat-tab label="Server Response"> Server Response Content</mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>

  </div>


</div>
