#filename {
  font-family: monospace; margin-left: 1em;
}

.selected-row{
  background:#f0ebff;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.table-container {
  position: relative;
  min-height: 100px;
  max-height: 400px;
  overflow: auto;
}

