@import "src/styles";

.title-row {
  @extend .padding-md;
  background-color: $primary-color;
  > * {
    color: white;
    font-weight: bold;
    font-size: larger;
  }
}

.group-row {
  cursor: auto;
  height: auto;
  font-size: larger;
  @extend .center-contents;
  > * {
    font-variant-caps: all-small-caps;
    font-weight: bold;
    padding: $xs;
    text-align: center;
  }
  > .user-group {
    background-color: #B65454;
    color: whitesmoke;
  }
  > .test-group {
    background-color: #335963;
    color: whitesmoke;
  }
}

.header-row {
  height: auto;
  > * {
    font-weight: bolder;
    font-variant-caps: all-small-caps;
    padding: $xs $sm;
  }
  > .user-header {
    background-color: #EED8D8;
  }
  > .test-header {
    background-color: #C9DEE3;
  }
}
.body-row {
  height: auto;
  > * {
    padding: $sm;
  }
  .user-cell {
    background-color: #FDFBFB;
    width: 15%;
  }
  .test-cell {
    background-color: #F8FCFC;
  }
}

.right-most-user-cell {
  box-shadow: inset -0.2em 0 0em 0em rgba(0,0,0,0.25);
}

.test-failed {
  font-weight: bold;
  background-color: rgba(255, 0, 0, .2) !important;
}

.complete-button {
  color: $primary-color;
}
