<div class="container">
  <mat-horizontal-stepper #stepper>
    <mat-step label="Select MDI to EDRS document">
      Step 1 - Select or Import an MDI to EDRS Document (Optional)
      If provided, the Document Bundle is used to populate the Search Parameters. Otherwise, the Search Parameters may be manually specified.

      <mat-tab-group (selectedIndexChange)="tabSelectionChange()" #mdiToEdrsTabGroup (selectedTabChange)="errorMessage = null">

        <mat-tab label="Select MDI to EDRS Document">
          <app-mdi-to-edrs-grid></app-mdi-to-edrs-grid>
        </mat-tab>

        <mat-tab label="Import MDI to EDRS FHIR Document Bundle">
          <app-import-mdi-to-edrs-document></app-import-mdi-to-edrs-document>
        </mat-tab>

      </mat-tab-group>

      <div>
        <mat-error>{{errorMessage}}</mat-error>
        <button mat-raised-button color="primary" (click)="onAdvanceStepper()">Proceed to Configure Endpoint</button>
      </div>

    </mat-step>

    <mat-step label="Configure Endpoint">
      <div>
        <div>
          Decedent Name:
        </div>
        <div>
          Date/Time of Death:
        </div>
        <div>
          MDI Tracking Number:
        </div>
      </div>
      <div>
        Disclaimer about user data storage being client side and not visible to Raven/GTRI/etc
      </div>

      <form [formGroup]="endpointConfigurationFormGroup" (ngSubmit)="onSubmitEndpointConfiguration()">

        <div>
          <mat-radio-group formControlName="inputType">
            <mat-radio-button class="radio-button" *ngFor="let inputOption of inputTypeOptions" [value]="inputOption">
              {{ inputOption }}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Select Endpoint</mat-label>
            <mat-select formControlName="serverEndpoint">
              <mat-option *ngFor="let serverEndpoint of serverEndpointList" [value]="serverEndpoint.uri">
                {{ serverEndpoint.displayName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <button type="button" mat-raised-button>View Server Capability Statement</button>
          <button type="button"  mat-raised-button>View Server $mdi-documents Operation Definition</button>
        </div>

        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button type="submit" mat mat-raised-button color="primary" matStepperNext>
            Proceed to Search
          </button>
        </div>
      </form>

    </mat-step>

    <mat-step label="Search EDRS">
      <button mat-raised-button matStepperPrevious>Back</button>
    </mat-step>
  </mat-horizontal-stepper>
</div>

