<mat-card class="margin-bottom-md">
  <mat-card-content>
    <mat-card-title class="margin-left-md margin-left-md">
      <div class="margin-md">Configure Server Connection</div>
    </mat-card-title>
    <div class="box">
      <div class="config-col">
        <form [formGroup]="onboardingForm" #form=ngForm (ngSubmit)="onSubmit()">

          <!-- Connection Type -->
          <div>
            <mat-form-field appearance="outline" class="full-width top-margin">
              <mat-label>Connection Type</mat-label>
              <mat-select formControlName="connectionType" (selectionChange)="onConnectionTypeSelected()"
                          [(value)]="selectedConnectionType" required>
                <mat-option *ngFor="let connectionType of ConnectionTypeOptionsArray" [value]="connectionType">
                  {{connectionType.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Request Type -->
          <div class="box">
            <mat-form-field appearance="outline">
              <mat-label>Request</mat-label>
              <mat-select formControlName="requestType" (selectionChange)="onRequestTypeSelected()" required>
                <mat-option *ngFor="let requestType of RequestTypeOptions" [value]="requestType">
                  {{ requestType }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="push-right end-point-url-form-field">
              <mat-label>Endpoint URL</mat-label>
              <input type="text" matInput formControlName="endpointUrl">
              <mat-error *ngIf="onboardingForm?.controls?.['endpointUrl']?.errors?.['required']">
                Endpoint URL is required
              </mat-error>
            </mat-form-field>

          </div>

          <!-- Token -->
          <div *ngIf="onboardingForm.controls['token']">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Token</mat-label>
              <textarea type="text" matInput formControlName="token" rows="5"></textarea>
              <mat-error *ngIf="onboardingForm?.controls?.['token']?.errors?.['required']">
                Token is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Username -->
          <div class="box">
            <div class="col margin-right-md">
            <mat-form-field appearance="outline" *ngIf="onboardingForm.controls['user']" class="full-width">
              <mat-label>User</mat-label>
              <input type="text" matInput formControlName="user">
              <mat-error *ngIf="onboardingForm?.controls?.['user']?.errors?.['required']">
                Username is required
              </mat-error>
            </mat-form-field>
            </div>

            <!-- Password -->
            <div class="col margin-left-md">
            <mat-form-field appearance="outline" *ngIf="onboardingForm.controls['password']" class="full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password">
              <mat-error *ngIf="onboardingForm?.controls?.['password']?.errors?.['required']">
                Password is required
              </mat-error>
            </mat-form-field>
            </div>
          </div>

          <ng-container *ngIf="onboardingForm.controls['requestType']?.value != RequestType.GET">

            <!-- URL Encoded Params -->
            <div class="margin-top-md margin-bottom-md">
              <mat-label class="margin-right-md">Body Type:</mat-label>
              <mat-radio-group aria-label="Select an option"  formControlName="requestBodyOptions" >
                <mat-radio-button  class="margin-right-md" value="rawBody" (change)="onRequestBodySelectionChange('rawBody')">
                  Raw
                </mat-radio-button>
                <mat-radio-button value="urlEncoded" (change)="onRequestBodySelectionChange('urlEncoded')">
                  x-www-form-urlencoded
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <ng-container *ngIf="onboardingForm.controls['requestBodyOptions'].value == 'urlEncoded'" formArrayName="urlEncodedParameters">

              <ng-container *ngFor="let urlEncodedParam of urlEncodedParams.controls; let index = index">

                <div [formGroupName]="index" class="box">

                  <mat-form-field appearance="outline" class="key-value-form-field">
                    <mat-label>Key</mat-label>
                    <input matInput type="text" formControlName="key"/>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="push-right key-value-form-field">
                    <mat-label>Value</mat-label>
                    <input matInput type="text" formControlName="value"/>
                  </mat-form-field>

                  <button mat-icon-button class="margin-left-md" aria-label="Remove Key Value" color="warn"
                          type="button"
                          matTooltip="Remove Parameter"
                          [disabled]="urlEncodedParams?.length == 1"
                          (click)="onDeleteUrlEncodedParam(index)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </ng-container>

              <button type="button"
                      class="margin-bottom-md"
                      mat-stroked-button aria-label="Add Search Params" color="primary" (click)="addUrlEncodedParam()">
                <mat-icon>add</mat-icon>
                Add Params
              </button>
            </ng-container>
            <mat-divider class="top-margin"></mat-divider>

            <!-- End URL Encoded Params -->

            <!-- Request Body -->
            <div *ngIf="onboardingForm.controls['requestBody']">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Request Body</mat-label>
                <textarea type="text" matInput formControlName="requestBody" rows="5"></textarea>
              </mat-form-field>
            </div>
            <!-- End Request Body -->
          </ng-container>

          <div class="row margin-top">
            <button mat-stroked-button type="button" color="primary" *ngIf="!isAdvancedSettingsVisible"
                    (click)="onShowHideAdvancedSettings(true)">
              <mat-icon>expand_more</mat-icon>
              Show Advanced Setting
            </button>
            <button mat-stroked-button type="button" color="primary" *ngIf="isAdvancedSettingsVisible"
                    (click)="onShowHideAdvancedSettings(false)">
              <mat-icon>expand_less</mat-icon>
              Hide Advanced Setting
            </button>
          </div>

          <ng-container *ngIf="isAdvancedSettingsVisible">

            <!-- Header Params  -->
            <div class="margin-top-md margin-bottom-md">
              <mat-checkbox formControlName="customizeHeaders" (change)="onCustomizeHeadersSelectionChange()">
                Customize Headers
              </mat-checkbox>
            </div>

            <ng-container *ngIf="onboardingForm.controls['headerParameters']" formArrayName="headerParameters">

              <ng-container *ngFor="let headerPram of headerParams.controls; let index = index">

                <div [formGroupName]="index" class="box">

                  <mat-form-field appearance="outline" class="key-value-form-field">
                    <mat-label>Key</mat-label>
                    <input matInput type="text" formControlName="key"/>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="push-right key-value-form-field">
                    <mat-label>Value</mat-label>
                    <input matInput type="text" formControlName="value"/>
                  </mat-form-field>

                  <button mat-icon-button class="margin-left-md" aria-label="Remove Parameter" color="warn"
                          type="button"
                          matTooltip="Remove Parameter"
                          [disabled]="headerParams?.length == 1"
                          (click)="onDeleteHeaderParam(index)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </ng-container>

              <button *ngIf="onboardingForm.controls['customizeHeaders']?.value === true" type="button"
                      class="margin-bottom-md"
                      mat-stroked-button aria-label="Add Headers Params" color="primary" (click)="addHeaderParam()">
                <mat-icon>add</mat-icon>
                Add Header Params
              </button>
              <!-- End Header Params -->
            </ng-container>

          <mat-divider class="top-margin"></mat-divider>

          <!-- Query Params -->
          <div class="margin-top-md margin-bottom-md">
              <mat-checkbox formControlName="addQueryParams" (change)="onAddQueryParamsSelectionChange()">
                Add Query Params
              </mat-checkbox>
          </div>
            <ng-container *ngIf="onboardingForm.controls['queryParameters']" formArrayName="queryParameters">

              <ng-container *ngFor="let queryParam of queryParams.controls; let index = index">

                <div [formGroupName]="index" class="box">

                  <mat-form-field appearance="outline" class="key-value-form-field">
                    <mat-label>Key</mat-label>
                    <input matInput type="text" formControlName="key"/>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="push-right key-value-form-field">
                    <mat-label>Value</mat-label>
                    <input matInput type="text" formControlName="value"/>
                  </mat-form-field>

                  <button mat-icon-button class="margin-left-md" aria-label="Remove Key Value" color="warn"
                          type="button"
                          matTooltip="Remove Parameter"
                          [disabled]="queryParams?.length == 1"
                          (click)="onDeleteQueryParam(index)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </ng-container>

              <button *ngIf="onboardingForm.controls['addQueryParams']?.value === true" type="button"
                      class="margin-bottom-md"
                      mat-stroked-button aria-label="Add Query Params" color="primary" (click)="addQueryParam()">
                <mat-icon>add</mat-icon>
                Add Query Params
              </button>
            </ng-container>
            <!-- End Query Params -->

            <mat-divider class="top-margin"></mat-divider>

          </ng-container>

        </form>

      </div>

      <!-- Second column with mat-tab -->
      <div class="config-col">
        <app-http-response-results
          [errorResponse]="loginErrorResponse"
          [successResponse]="loginSuccessResponse"
          [request]="onboardingService.httpReq$ | async">
        </app-http-response-results>
      </div>
    </div>

    <div class="margin-md">
      <button
        mat-raised-button aria-label="Test Connection" color="primary" type="submit"
        (click)="onTestConnection()">
        <mat-icon>lan</mat-icon>
        Test Connection
      </button>
    </div>
  </mat-card-content>
</mat-card>
