<mat-card class="margin-bottom-md">
  <mat-card-content>
    <mat-card-title class="margin-left-md margin-left-md">
      <div class="margin-md">Configure Server Connection</div>
    </mat-card-title>
    <div class="box">
      <div class="config-col">
        <form [formGroup]="onboardingForm" #form=ngForm (ngSubmit)="onSubmit()">

          <!-- Connection Type -->
          <div>
            <mat-form-field appearance="outline" class="full-width top-margin">
              <mat-label>Connection Type</mat-label>
              <mat-select formControlName="connectionType" (selectionChange)="onConnectionTypeSelected()"
                [(value)]="selectedConnectionType" required>
                @for (connectionType of ConnectionTypeOptionsArray; track connectionType) {
                  <mat-option [value]="connectionType">
                    {{connectionType.name}}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Request Type -->
          <div class="box">
            <mat-form-field appearance="outline">
              <mat-label>Request</mat-label>
              <mat-select formControlName="requestType" (selectionChange)="onRequestTypeSelected()" required>
                @for (requestType of RequestTypeOptions; track requestType) {
                  <mat-option [value]="requestType">
                    {{ requestType }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="push-right end-point-url-form-field">
              <mat-label>Endpoint URL</mat-label>
              <input type="text" matInput formControlName="endpointUrl">
              @if (onboardingForm?.controls?.['endpointUrl']?.errors?.['required']) {
                <mat-error>
                  Endpoint URL is required
                </mat-error>
              }
            </mat-form-field>

          </div>

          <!-- Token -->
          @if (onboardingForm.controls['token']) {
            <div>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Token</mat-label>
                <textarea type="text" matInput formControlName="token" rows="5"></textarea>
                @if (onboardingForm?.controls?.['token']?.errors?.['required']) {
                  <mat-error>
                    Token is required
                  </mat-error>
                }
              </mat-form-field>
            </div>
          }

          <!-- Username -->
          <div class="box">
            <div class="col margin-right-md">
              @if (onboardingForm.controls['user']) {
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>User</mat-label>
                  <input type="text" matInput formControlName="user">
                  @if (onboardingForm?.controls?.['user']?.errors?.['required']) {
                    <mat-error>
                      Username is required
                    </mat-error>
                  }
                </mat-form-field>
              }
            </div>

            <!-- Password -->
            <div class="col margin-left-md">
              @if (onboardingForm.controls['password']) {
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput formControlName="password">
                  @if (onboardingForm?.controls?.['password']?.errors?.['required']) {
                    <mat-error>
                      Password is required
                    </mat-error>
                  }
                </mat-form-field>
              }
            </div>
          </div>

          @if (onboardingForm.controls['requestType']?.value != RequestType.GET) {
            <!-- URL Encoded Params -->
            <div class="margin-top-md margin-bottom-md">
              <mat-label class="margin-right-md">Body Type:</mat-label>
              <mat-radio-group aria-label="Select an option"  formControlName="requestBodyOptions" >
                <mat-radio-button  class="margin-right-md" value="rawBody" (change)="onRequestBodySelectionChange('rawBody')">
                  Raw
                </mat-radio-button>
                <mat-radio-button value="urlEncoded" (change)="onRequestBodySelectionChange('urlEncoded')">
                  x-www-form-urlencoded
                </mat-radio-button>
              </mat-radio-group>
            </div>
            @if (onboardingForm.controls['requestBodyOptions'].value == 'urlEncoded') {
              <ng-container formArrayName="urlEncodedParameters">
                @for (urlEncodedParam of urlEncodedParams.controls; track urlEncodedParam; let index = $index) {
                  <div [formGroupName]="index" class="box">
                    <mat-form-field appearance="outline" class="key-value-form-field">
                      <mat-label>Key</mat-label>
                      <input matInput type="text" formControlName="key"/>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="push-right key-value-form-field">
                      <mat-label>Value</mat-label>
                      <input matInput type="text" formControlName="value"/>
                    </mat-form-field>
                    <button mat-icon-button class="margin-left-md" aria-label="Remove Key Value" color="warn"
                      type="button"
                      matTooltip="Remove Parameter"
                      [disabled]="urlEncodedParams?.length == 1"
                      (click)="onDeleteUrlEncodedParam(index)">
                      <mat-icon>remove</mat-icon>
                    </button>
                  </div>
                }
                <button type="button"
                  class="margin-bottom-md"
                  mat-stroked-button aria-label="Add Search Params" color="primary" (click)="addUrlEncodedParam()">
                  <mat-icon>add</mat-icon>
                  Add Params
                </button>
              </ng-container>
            }
            <!-- End URL Encoded Params -->
            <!-- Request Body -->
            @if (onboardingForm.controls['requestBody']) {
              <div>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Request Body</mat-label>
                  <textarea type="text" matInput formControlName="requestBody" rows="5"></textarea>
                </mat-form-field>
              </div>
            }
            <!-- End Request Body -->
          }

          <div class="row margin-top">
            @if (!isAdvancedSettingsVisible) {
              <button mat-stroked-button type="button" [style.color]="config.backgroundColor"
                (click)="onShowHideAdvancedSettings(true)">
                <mat-icon>expand_more</mat-icon>
                Show Advanced Setting
              </button>
            }
            @if (isAdvancedSettingsVisible) {
              <button mat-stroked-button type="button" [style.color]="config.backgroundColor"
                (click)="onShowHideAdvancedSettings(false)">
                <mat-icon>expand_less</mat-icon>
                Hide Advanced Setting
              </button>
            }
          </div>

          @if (isAdvancedSettingsVisible) {
            <!-- Header Params  -->
            <div class="margin-top-md margin-bottom-md">
              <mat-checkbox formControlName="customizeHeaders" (change)="onCustomizeHeadersSelectionChange()">
                Customize Headers
              </mat-checkbox>
            </div>
            @if (onboardingForm.controls['headerParameters']) {
              <ng-container formArrayName="headerParameters">
                @for (headerPram of headerParams.controls; track headerPram; let index = $index) {
                  <div [formGroupName]="index" class="box">
                    <mat-form-field appearance="outline" class="key-value-form-field">
                      <mat-label>Key</mat-label>
                      <input matInput type="text" formControlName="key"/>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="push-right key-value-form-field">
                      <mat-label>Value</mat-label>
                      <input matInput type="text" formControlName="value"/>
                    </mat-form-field>
                    <button mat-icon-button class="margin-left-md" aria-label="Remove Parameter" color="warn"
                      type="button"
                      matTooltip="Remove Parameter"
                      [disabled]="headerParams?.length == 1"
                      (click)="onDeleteHeaderParam(index)">
                      <mat-icon>remove</mat-icon>
                    </button>
                  </div>
                }
                @if (onboardingForm.controls['customizeHeaders']?.value === true) {
                  <button type="button"
                    class="margin-bottom-md"
                    mat-stroked-button aria-label="Add Headers Params" [style.color]="config.backgroundColor" (click)="addHeaderParam()">
                    <mat-icon>add</mat-icon>
                    Add Header Params
                  </button>
                }
                <!-- End Header Params -->
              </ng-container>
            }
            <mat-divider class="top-margin"></mat-divider>
            <!-- Query Params -->
            <div class="margin-top-md margin-bottom-md">
              <mat-checkbox formControlName="addQueryParams" (change)="onAddQueryParamsSelectionChange()">
                Add Query Params
              </mat-checkbox>
            </div>
            @if (onboardingForm.controls['queryParameters']) {
              <ng-container formArrayName="queryParameters">
                @for (queryParam of queryParams.controls; track queryParam; let index = $index) {
                  <div [formGroupName]="index" class="box">
                    <mat-form-field appearance="outline" class="key-value-form-field">
                      <mat-label>Key</mat-label>
                      <input matInput type="text" formControlName="key"/>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="push-right key-value-form-field">
                      <mat-label>Value</mat-label>
                      <input matInput type="text" formControlName="value"/>
                    </mat-form-field>
                    <button mat-icon-button class="margin-left-md" aria-label="Remove Key Value" color="warn"
                      type="button"
                      matTooltip="Remove Parameter"
                      [disabled]="queryParams?.length == 1"
                      (click)="onDeleteQueryParam(index)">
                      <mat-icon>remove</mat-icon>
                    </button>
                  </div>
                }
                @if (onboardingForm.controls['addQueryParams']?.value === true) {
                  <button type="button"
                    class="margin-bottom-md"
                    mat-stroked-button aria-label="Add Query Params" [style.color]="config.backgroundColor" (click)="addQueryParam()">
                    <mat-icon>add</mat-icon>
                    Add Query Params
                  </button>
                }
              </ng-container>
            }
            <!-- End Query Params -->
            <mat-divider class="top-margin"></mat-divider>
          }

        </form>

      </div>

      <!-- Second column with mat-tab -->
      <div class="config-col">
        <app-http-response-results
          [errorResponse]="loginErrorResponse"
          [successResponse]="loginSuccessResponse"
          [request]="onboardingService.httpReq$ | async">
        </app-http-response-results>
      </div>
    </div>

    <div class="margin-md">
      <button
        mat-raised-button aria-label="Test Connection" color="primary" type="submit"
        [style.background-color]="config.backgroundColor"
        [style.color]="'white'"
        (click)="onTestConnection()">
        <mat-icon>lan</mat-icon>
        Test Connection
      </button>
    </div>
  </mat-card-content>
</mat-card>
