.config-col {
  padding: 0 16px; width: 50%
}

.request-type-form-field {
  max-width: 20%
}

.end-point-url-form-field {
  max-width: 100%; min-width: 75%; padding-left: 16px;
}

.user-password-form-field{
  width: 45%;
}

.key-value-form-field{
  width: 40%;
}
