<div class="testing-event-wrapper"  *ngIf="auth.isAuthenticated$ | async; else loggedOut">

  <div class="testing-event-body" *ngIf="showRoot; else testContainer">
    <!-- Menu -->
    <div class="testing-event-body-menu" [style.background-color]="config.backgroundColor">
      <mat-accordion>
        <mat-expansion-panel [style.background-color]="config.backgroundColor">
          <mat-expansion-panel-header [style.color]="'white'">
<!--            <button mat-flat-button [routerLink]="'/workflow-simulator/standalone-tests'" class="pointer"-->
<!--                    [style.background-color]="'#00000000'">-->
            <mat-panel-title>Standalone Tests</mat-panel-title>
<!--            </button>-->
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel [style.background-color]="config.backgroundColor">
          <mat-expansion-panel-header [style.color]="'white'">
            <mat-panel-title>Testing Events</mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-flat-button *ngFor="let registration of registrations; let index = index" (click)="selectEvent(index)"
                  class="panel-button"
                  [style.background-color]="'#00000000'">
            {{getTitle(registration)}}
          </button>
          <button mat-flat-button class="panel-button"
                  [style.background-color]="'#00000000'"
                  (click)="selectEvent(-1)">
            Register for Events
          </button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <!-- Content -->

    <testing-event-registered-module *ngIf="currentRegistration"
                                     [userId]="userFhirId"
                                     (itemSelected)="loadTestContainer($event)"
      class="testing-event-body-content">
    </testing-event-registered-module>

    <div *ngIf="!currentRegistration" class="testing-event-body-content">
      <div class="register-header" [style.background-color]="config.backgroundColor">
        Register for Events
      </div>
      <div *ngIf="registrations && eventList">
        <div *ngFor="let event of eventList">
          <testing-event-registration-card [event]="event"
                                           [registered]="isRegistered(event)"
                                            (registerClickEvent)="registerForEvent($event)">
          </testing-event-registration-card>
        </div>
      </div>
    </div>
  </div>
  <ng-template #testContainer>
    <testing-event-test-container [userId]="userFhirId"
                                  [registrationDisplayItem]="currentItem"

    >
    </testing-event-test-container>
  </ng-template>
</div>



<ng-template #loggedOut>
  Please log in to manage testing event modules.
</ng-template>
