.row {
  display: flex;  /* aligns all child elements (flex items) in a row */
}

.col-left {
  flex: 80;        /* distributes space on the line equally among items */
}

.col-right {
  flex: 20;        /* distributes space on the line equally among items */
}

.loading {
  margin-top: 1rem;
  font-family: monospace;
}

.loading:after {
  content: "...";
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis-dot 1s infinite .3s;
  animation-fill-mode: forwards;
  width: 1.3em;
}

@keyframes ellipsis-dot {
  25% {
    content: "";
  }
  50% {
    content: ".";
  }
  75% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.explorer-header-text {
  font-weight: bold;
  padding: 5px;
}
