<div class="container">
  <mat-card class="mat-elevation-z8" class="top-margin">
    <mat-horizontal-stepper #stepper>

      <mat-step label="{{ uiConstants.step1.STEP_LABEL }}" [completed]="false">
        {{ uiConstants.step1.DESCRIPTION }}
        <app-mdi-to-edrs-document-select-step
          [parentStepper]="stepper"
        ></app-mdi-to-edrs-document-select-step>
      </mat-step>

      <mat-step label="{{ uiConstants.step2.STEP_LABEL }}" [completed]="false">
        {{ uiConstants.step2.DESCRIPTION }}
          <app-endpoint-configuration-step></app-endpoint-configuration-step>
      </mat-step>

      <mat-step label="{{ uiConstants.step3.STEP_LABEL }}" [completed]="false">
        {{ uiConstants.step3.DESCRIPTION }}
        <app-edrs-results-step [parentStepper]="stepper"></app-edrs-results-step>

        <div class="top-padding"><button mat-raised-button matStepperPrevious>Back</button></div>
      </mat-step>

    </mat-horizontal-stepper>
  </mat-card>
</div>

