/** Nav Menu Styling **/

ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

li {
  padding: 5px;
}

li mat-icon {
  position: relative;
  top: 5px;
  left: 5px;
  padding-right: 5px;
}

.tool-bars {
  position: sticky;
  top: 0;
  z-index: 9999;
}

/*This is probably not the best way to make the sidenav not scrollable*/
mat-sidenav-container {
  height: 85%;
}
