<mat-toolbar>
  <mat-toolbar-row class="primary-light">
    Subject Name: <input type="text" value="{{ (caseHeader$ | async)?.fullName}}" readonly>
    <span class="content-spacer"> </span>
    Date/Time of Death: <input type="text" value="{{ (caseHeader$ | async)?.deathDate}}" readonly>
    <span class="content-spacer"> </span>
    Gender: <input type="text" value="{{ (caseHeader$ | async)?.gender}}" readonly>
  </mat-toolbar-row>
  <mat-toolbar-row>
    Tracking Number/Type:
    <input type="text" value="{{ (caseHeader$ | async)?.trackingNumber?.value}}" readonly>
    <input type="text" value="{{ (caseHeader$ | async)?.trackingNumber?.type}}" readonly>
    <span class="content-spacer"> </span>
    Authors (DROP DOWN PLACEHOLDER)
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div class="summary-section">
    <div class="summary-section-title primary-light">Demographics</div>
    <div class="summary-section-body">
      SSN: <input type="text" value="{{ (caseSummary$ | async)?.demographics.ssn}}" readonly><br/>
      Other Identifiers: <br/>
      Gender: <input type="text" value="{{ (caseSummary$ | async)?.demographics.gender}}" readonly><br/>
      Date of Birth: <input type="text" value="{{ (caseSummary$ | async)?.demographics.birthDate}}" readonly><br/>
      Race: <input type="text" value="{{ (caseSummary$ | async)?.demographics.race}}" readonly><br/>
      Ethnicity: <input type="text" value="{{ (caseSummary$ | async)?.demographics.ethnicity}}" readonly><br/>
      Aliases:
      <table class="alias-table">
        <tr>
          <th>Given Name(s)</th>
          <th>Family Name</th>
          <th>Use</th>
          <th>Period</th>
        </tr>
        <tr *ngFor="let alias of (caseSummary$ | async)?.demographics.aliases;">
          <td>
              <span *ngFor="let givenName of alias.given;"> {{givenName}} </span>
          </td>
          <td>
            {{alias.family}}
          </td>
          <td>
            {{alias.use}}
          </td>
          <td>
            {{alias.period?.start || "Unknown"}} - {{alias.period?.end || "Unknown"}}
          </td>
        </tr>
      </table>
      Occupation History:
    </div>
  </div>
  <div class="summary-section">
    <div class="summary-section-title primary-light">Circumstances</div>
    <div class="summary-section-body">
      Death Location: <input type="text" value="{{ (caseSummary$ | async)?.circumstances.deathLocation}}" readonly><br/>
      Injury at Work: <input type="text" value="{{ (caseSummary$ | async)?.circumstances.workInjury}}" readonly><br/>
      Tobacco Use Contributed to Death: <input type="text" value="{{ (caseSummary$ | async)?.circumstances.tobaccoUseContributed}}" readonly><br/>
      Decedent Pregnancy Status: <input type="text" value="{{ (caseSummary$ | async)?.circumstances.pregnancy}}" readonly><br/>
    </div>
  </div>
  <div class="summary-section">
    <div class="summary-section-title primary-light">Cause and Manner of Death</div>
    <div class="summary-section-body">
      Cause of Death Pathway: <br/>
      Conditions Contributing to Death: <br/>
      Manner of Death: <input type="text" value="{{ (caseSummary$ | async)?.causeAndManner.mannerOfDeath}}" readonly><br/>
      How Death Injury Occurred: <input type="text" value="{{ (caseSummary$ | async)?.causeAndManner.howDeathInjuryOccurred}}" readonly><br/>
    </div>
  </div>
  <div class="summary-section">
    <div class="summary-section-title primary-light">Relevant Medical History</div>
    <div class="summary-section-body"></div>
  </div>
  <div class="summary-section">
    <div class="summary-section-title primary-light">Exam and Autopsy Notes</div>
    <div class="summary-section-body"></div>
  </div>
  <div class="summary-section">
    <div class="summary-section-title primary-light">Narratives</div>
    <div class="summary-section-body"></div>
  </div>
  <div class="summary-section">
    <div class="summary-section-title primary-light">Death Certificate</div>
    <div class="summary-section-body"></div>
  </div>
</div>
