<div class="margin-md">
  <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">

  </ng-container>

  <ng-template #loggedOut>
    Please login to an account with appropriate permissions to access this component.
  </ng-template>

  <div *ngIf="testEvents">
    <div class="row" style="padding-top: 4px">
      <mat-form-field appearance="outline" style="min-width: 50%">
        <mat-label>Select Test Event</mat-label>
        <mat-select [(value)]="selectedEvent">
          <mat-option class="mat-option"
                      *ngFor="let testEvent of testEvents" [value]="testEvent">
            {{ testEvent.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="content-spacer"></div>
      <button mat-raised-button (click)="exportToPdf(selectedEvent)">
        <mat-icon>download</mat-icon>
        Download as PDF
      </button>
    </div>
    <app-event-table
      *ngIf="!isLoading"
      (testingEventUpdated)="onTestingEventUpdated($event)"
      [testingEvent]="selectedEvent">
    </app-event-table>
    <div class="spinner-container" *ngIf="isLoading">
      <mat-spinner [diameter]="70"></mat-spinner>
    </div>
  </div>

  <div *ngIf="error">
    <common-error-frame [error]="error"></common-error-frame>
  </div>

</div>
