<div class="multi-file-wrapper" dragAndDrop (onFileDropped)="selectFiles($event)">
  <div class="info-text">Drag and drop the file(s) here or click on "Browse Files".</div>
  <div class="files-scrollable-container">
    @for (file of fileList; track file; let index = $index) {
      <div class="line-item">
        <span class="filename">{{ file.name }}</span>
        <button mat-stroked-button class="action-button" (click)="removeSelectedFile(index)">
          <mat-icon class="centered-button-icon">close</mat-icon>
        </button>
      </div>
    }
  </div>
  <div class="actions">
    <button mat-stroked-button class="action-button" (click)="fileInput.click()">Browse Files</button>
    <button mat-stroked-button class="action-button" (click)="onUploadFiles()" [disabled]="fileList.length == 0">
      <mat-icon class="centered-button-icon">upload</mat-icon>
    </button>
    <button mat-stroked-button class="action-button" (click)="onClose()">
      <mat-icon class="centered-button-icon">close</mat-icon>
    </button>
    <input
      style="display: none"
      #attachments
      type="file"
      (change)="onFileChanged($event)"
      #fileInput
      multiple
    />
  </div>

</div>
