<div class="generic-component-wrapper">
  <div class="generic-component-content">
    <H1>Submitting a File for Review</H1>
    <ol>
      <li>
        On this page, select the "Submit/View Documentation" button on the bottom. This will open up a pop-up window for your
        file upload. Select the file you with to submit, and then press the "Upload" button. (If you have more than file, you must
        provide them as a Zip file.)
      </li>
      <li>
        This should change the status for the validation test to "review pending" in the bottom right corner of this screen. You may now return to the event listing.
      </li>
      <li>
        If you need to submit a new file, you may do so by following the process again. This will overwrite your previous submission if the file names are the same,
        so if you wish to keep a record of your submissions you must uniquely name your files.
      </li>
    </ol>
  </div>
</div>
