.table-container {
  position: relative;
  min-height: 100px;
  max-height: 400px;
  overflow: auto;
}

.controls {
  margin-left: 16px;
}

tr.case-record-detail-row {
  height: 0;
}

.mat-icon {
  vertical-align: middle;
}

.mapped{
  color: darkgreen;
}

.not-mapped{
  color: darkred;
}

.mat-column-name {
  width: 35%;
}

.mat-column-status{
  width: 20%;
}

.mat-column-value {
  width: 45%;
}

.inner-records{
  padding-left: 0

}

.radio-btn-label{
  margin-right: 8px;
}
