.table-container {
  position: relative;
  min-height: 100px;
  max-height: 400px;
  overflow: auto;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

tr.case-record-detail-row {
  height: 0;
}

.mat-icon {
  vertical-align: middle;
}

.mapped{
  color: darkgreen;
}

.not-mapped{
  color: darkred;
}

.mat-column-name {
  width: 30%
}

.mat-column-status{
  width: 20%
}

.mat-column-value {
  width: 50%
}

.inner-records{
  padding-left: 0px
}
