.table-container {
  position: relative;
  min-height: 100px;
  max-height: 400px;
  overflow: auto;
}

.mat-row:nth-child(even){
  background-color: white;
}

.mat-row:nth-child(odd){
  background-color: whitesmoke;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
