<div class="generic-component-wrapper">
  <div class="generic-component-content">

    <div
      class="instructions"
      role="note"
      [attr.aria-label]="'Instructions'">
      Select a testing workflow from the list below. You will walk through a series of steps to guide in testing of
      that workflow using the Raven platform, with demonstrations of relevant FHIR Resources and API interactions.
    </div>

    <div
      role="list"
      [attr.aria-label]="'Available testing workflows'">
      @for (test of standaloneTests; track test.name) {
        <div
          class="margin-top-lg margin-bottom-md"
          role="listitem">
          <h2
            class="item-header"
            [style.border-left-color]="appConfiguration.color"
            [attr.id]="'workflow-' + test.name">
            {{ test.display }}
          </h2>
          <div
            class="description"
            [attr.aria-labelledby]="'workflow-' + test.name">
            {{ test.description }}
          </div>
          <div class="margin-top-lg">
            <button
              mat-raised-button
              type="button"
              (click)="onStartTest(test)"
              [style.background-color]="config.backgroundColor"
              [style.color]="'white'"
              [attr.aria-label]="'Start ' + test.display + ' workflow'">
              <span>Start Workflow</span>
            </button>
          </div>
        </div>
        <mat-divider
          class="larger-divider"
          role="separator"
          aria-hidden="true">
        </mat-divider>
      }
    </div>
  </div>
</div>
