<app-decedent-display [decedentInformation]="toxHeader" [type]="'tox'" appSetFhirExplorer [resource]="messageBundle$ | async"></app-decedent-display>

<div class="record-content">
  <mat-drawer-container>
    <mat-drawer mode="side" opened [style.background-color]="config.backgroundColor" [style.border-radius]="'5px'">

    </mat-drawer>
    <mat-drawer-content>
      <record-viewer-toxicology-report-content [toxHeader]="toxHeader" [toxSummary]="toxSummary" [messageBundle]="messageBundle$ | async"></record-viewer-toxicology-report-content>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
