/** Nav Menu Styling **/


ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

li {
  padding: 5px;
}

li mat-icon {
  position: relative;
  top: 5px;
  left: 5px;
  padding-right: 5px;
}

.tool-bars {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.mat-form-field {
  margin-left: 10px;
  font-size: 15px;
}

/*This is probably not the best way to make the sidenav not scrollable*/
mat-sidenav-container {
  height: 100%;
}

.mdi-case-number-label {
  margin: auto;
  font-weight: bold;
  flex: 1;
}

.mdi-case-number-flex-wrapper {
  display: flex;
  flex-direction: row;
}

.mdi-case-number-value {
  flex: 1;
  margin: auto;
}

.field-label {
  margin: auto;
  font-weight: bold;
  flex: 1;
}

.field-value {
  flex: 1;
  margin: auto;
}

.mdi-case-number-open-related {
  flex: 2;
  margin-right: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  display: flex;
}



.mdi-case-number-body-padding {
  padding: 8px 24px 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}

table {
  width: 100%;
}

.mat-row:nth-child(2n+1){
  background-color: #eeeeee;
}
.mat-header-row th {
  color: black;
}

.conclusion-text-area {
  width: 100%;
}

.column {
  flex-direction: column;
}

.bottom-spacer {
  margin-bottom: 16px;
}

.certifier-wrapper {
  display: grid;
  grid-template-columns: fit-content(100%) 1fr;
  row-gap: 8px;
}

.grid-cell-span-2 {
  grid-column: 1 / span 2;
}
