<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <span style="cursor: pointer"><h1 (click)="onTitleClick();">Raven 2</h1></span>

  <a mat-button [routerLink]="'/cases'">
    Case Viewer
  </a>

  <a mat-button [routerLink]="'/fhir-validator'">
    FHIR Validator
  </a>

  <!-- Add links to major features as they are implemented here. -->

  <span class="content-spacer"></span>
  <a *ngIf="fhirExplorerDrawerService.isInstantiated();" mat-raised-button color="accent" (click)="onToggle()">
    Toggle FHIR Explorer
  </a>


  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/'">
      <span>Return to Home</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item onclick="window.open('https://ravendocs.readthedocs.io/en/latest/','_blank')">
      <span>Documentation</span>
    </button>
    <button mat-menu-item onclick="window.open('https://github.com/MortalityReporting','_blank')">
      <span>Mortality Reporting GitHub</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item onclick="window.open('https://chat.fhir.org','_blank')">
      <span>FHIR Zulip Chat</span>
    </button>
  </mat-menu>

</mat-toolbar>


