<nav
  #menu
  [style.background-color]="config.backgroundColor"
  class="border-radius-xs"
  role="navigation"
  [attr.aria-label]="'Toxicology record sections'">
  <mat-nav-list [attr.aria-label]="'Navigate to record sections'">
    <div role="none">
      <button
        mat-flat-button
        type="button"
        (click)="onItemClick('demographics');"
        [style.color]="appConfig.contrastColor"
        [style.background-color]="config.backgroundColor"
        [attr.aria-label]="'Navigate to Demographics section'">
        <mat-icon aria-hidden="true">person</mat-icon>
        <span>Demographics</span>
      </button>
    </div>

    <div role="none">
      <button
        mat-flat-button
        type="button"
        (click)="onItemClick('deathInvestigation');"
        [style.color]="appConfig.contrastColor"
        [style.background-color]="config.backgroundColor"
        [attr.aria-label]="'Navigate to Death Investigation section'">
        <mat-icon aria-hidden="true">medical_services</mat-icon>
        <span>Death Investigation</span>
      </button>
    </div>

    <div role="none">
      <button
        mat-flat-button
        type="button"
        (click)="onItemClick('cremationClearance');"
        [style.color]="appConfig.contrastColor"
        [style.background-color]="config.backgroundColor"
        [attr.aria-label]="'Navigate to Cremation Clearance Info section'">
        <mat-icon aria-hidden="true" svgIcon="clinical_notes"></mat-icon>
        <span>Cremation Clearance Info</span>
      </button>
    </div>
  </mat-nav-list>
</nav>
