<div class="container top-spacer">
  <h1>FHIR Validator</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field class="form-element" appearance="fill">
      <mat-label>Enter FHIR Resource</mat-label>
      <textarea matInput rows="30" formControlName="fhirResource"></textarea>
    </mat-form-field>

    <div class="form-element">
      <span style="padding-right: 2em">
          <button mat-raised-button color="primary" type="submit" class="button">
            <mat-icon>done</mat-icon>
            Validate
          </button>
      </span>
      <button mat-raised-button color="basic" class="button" (click)="onClear();">
        <mat-icon>clear</mat-icon>
        Clear Text
      </button>
    </div>
  </form>
</div>
