<app-http-connection [showRemoveBtn]=false></app-http-connection>
<ng-template #httpConnectionContainerRef></ng-template>
<div style="margin-top: -8px">
  <button mat-raised-button color="primary" (click)="addHttpConnectionComponent()">
    <mat-icon>add</mat-icon>
    Add Connection
  </button>
</div>
<mat-card class="top-margin">
  <mat-card-content>
    <mat-card-title>
      Console Output
    </mat-card-title>
    <lib-console [logs]="loggerData"></lib-console>
    <button mat-raised-button (click)="clearLog()">Clear Log</button>
  </mat-card-content>
</mat-card>
