<div class="margin-top-md">
  <form [formGroup]="searchFilterForm" (ngSubmit)="onSearch()">
    <ng-container formGroupName="deathDate">
      <mat-form-field appearance="outline" class="margin-left-md">
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </ng-container>

    <mat-form-field appearance="outline" class="margin-left-md filter-width"  floatLabel="always">
      <mat-label>Gender</mat-label>
      <mat-select [formControl]="searchFilterForm.controls.gender">
        <mat-option [value]="null">All</mat-option>
        @for (option of genderOptions; track option) {
          <mat-option  [value]="option.value">
            {{ option.label }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-raised-button class="primary-color-button margin-left-md" type="submit"
            [style.background-color]="config.backgroundColor" [style.color]="'white'">
      Search
    </button>
    <button mat-raised-button class="margin-left-md" type="button" (click)="onClearFilters()">
      Clear Search Form
    </button>
  </form>
</div>

@if(isLoading){
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<table mat-table [dataSource]="dataSource" matSort matSortDisableClear matSortActive="personId">
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Decedent Name</th>
    <td mat-cell class="pointer"
        *matCellDef="let decedent"> {{decedent.lastName | titlecase}}{{decedent.firstName ? ', ' + decedent.firstName : ''}}</td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender</th>
    <td mat-cell class="pointer" *matCellDef="let decedent"> {{decedent.gender | titlecase}} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Age</th>
    <td mat-cell class="pointer" *matCellDef="let decedent"> {{decedent.age}} </td>
  </ng-container>

  <ng-container matColumnDef="tod">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Death</th>
    <td mat-cell class="pointer" *matCellDef="let decedent"> {{ decedent.tod | date: 'MM/dd/yyyy' }} </td>
  </ng-container>

  <ng-container matColumnDef="mannerOfDeath">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Manner of Death</th>
    <td mat-cell class="pointer" *matCellDef="let decedent"> {{decedent.mannerOfDeath | titlecase}} </td>
  </ng-container>

  <ng-container matColumnDef="caseNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> MDI Case Number</th>
    <td mat-cell class="pointer" *matCellDef="let decedent" [matTooltip]="'System: ' + (decedent.system || 'Unknown')"> {{decedent.caseNumber }} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onCaseSelected(row)"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [colSpan]="displayedColumns.length">
      @if (!isLoading) { No results found. }
  </tr>
</table>


<mat-paginator
  #paginator
  [length]="totalDataSize"
  [pageSizeOptions]="pageSizes"
  [pageSize]="pageSize"
  showFirstLastButtons
  (page)="onPageChanged($event)"
  aria-label="Select page">
  ></mat-paginator>
