<div class="generic-component-wrapper">
  <div class="generic-component-content">
    <mat-card class="mat-elevation-z8 margin-top-md">
      <mat-horizontal-stepper
        #stepper
        [attr.aria-label]="'MDI to EDRS workflow steps'">

        <mat-step
          [label]="uiConstants.step1.STEP_LABEL"
          [completed]="false">
          <p>{{ uiConstants.step1.DESCRIPTION }}</p>
          <app-mdi-to-edrs-document-select-step
            [parentStepper]="stepper"
            role="region"
            [attr.aria-label]="uiConstants.step1.STEP_LABEL + ' content'">
          </app-mdi-to-edrs-document-select-step>
        </mat-step>

        <mat-step
          [label]="uiConstants.step2.STEP_LABEL"
          [completed]="false">
          <p>{{ uiConstants.step2.DESCRIPTION }}</p>
          <app-endpoint-configuration-step
            role="region"
            [attr.aria-label]="uiConstants.step2.STEP_LABEL + ' content'">
          </app-endpoint-configuration-step>
        </mat-step>

        <mat-step
          [label]="uiConstants.step3.STEP_LABEL"
          [completed]="false"
          [attr.aria-label]="uiConstants.step3.STEP_LABEL">
          <p>{{ uiConstants.step3.DESCRIPTION }}</p>
          <app-edrs-results-step
            [parentStepper]="stepper"
            role="region">
          </app-edrs-results-step>

          <div
            class="padding-top-md"
            role="navigation">
            <button
              mat-raised-button
              type="button"
              matStepperPrevious>
              Back
            </button>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
    </mat-card>
  </div>
</div>
