<div>
  1. Select a FHIR JSON or XML file to upload and preview or paste your FHIR Bundle directly in the provided area.
  <div class="content-offset">
    Contents must be a complete MDI Document Bundle or Toxicology Bundle.

    <div class="top-spacer">
      <input type="file" class="file-input" (click)="fileUpload.value=null"
             accept="text/*,.json"
             (change)="onFileSelected($event)" #fileUpload>
      <button mat-raised-button color="success" class="upload-btn"
              (click)="clearUI(); fileUpload.click();" [disabled]=isLoading>
        <mat-icon>post_add</mat-icon>
        Select File
      </button>
      <span id="filename">{{file?.name}}</span>
    </div>

    <app-fhir-validator [isStandalone]=false [fhirResource]="fileContent"></app-fhir-validator>

  </div>
</div>

{{fhirValidatorFinished}} {{isValidResource}}
<div class="top-spacer">
  2. Submit your Bundle to the Raven FHIR Sever.
  <div class="content-offset top-spacer">
    <button mat-raised-button color="primary"  (click)="onSubmit()">
      <mat-icon>send</mat-icon>
      Submit
    </button>
  </div>
</div>
