<div class="row">
  <div class="col-left">
    <section>
      <mat-button-toggle-group [(ngModel)]="selectedStructure" (click)="onToggleClick();" style="width: 100%">
        <mat-button-toggle value="narrative" style="width: 33%">Narrative</mat-button-toggle>
        <mat-button-toggle value="json" style="width: 33%">JSON</mat-button-toggle>
        <mat-button-toggle value="xml" style="width: 34%">XML</mat-button-toggle>
      </mat-button-toggle-group>
    </section>
  </div>
  <div class="col-right" style="margin-top: 0.5rem" align="center">
    <button mat-button color="primary" matTooltip="Copy content to clipboard"
            [disabled]="selectedStructure==='narrative' || !this.formattedText"
            [cdkCopyToClipboard]="formattedText"
            (click)="onCopyToClipboard(formattedText)">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="!isNarrative()">
  <span *ngIf="formattedText"><pre> {{ formattedText }} </pre></span>
  <span *ngIf="!formattedText" style="text-align: center"><pre> No Resource Found </pre></span>
</div>

<div *ngIf="isNarrative()">
  <br>
  <div *ngIf="formattedText" [innerHTML]="formattedText"></div>
  <div *ngIf="!formattedText" style="text-align: center">
    <span *ngIf="!fhirResource"><pre>Resource Not Found</pre></span>
    <span *ngIf="fhirResource"><pre>No Narrative Found</pre></span>
  </div>
</div>
