<form [formGroup]="dcrSubmitToApiForm" (submit)="onSubmit()" #formDirective="ngForm">
  <div class="form-row">
    <div class="form-col">
      <mat-form-field class="form-field" appearance="outline" floatLabel="always">
        <mat-label>Submission URL</mat-label>
        <input matInput type="text" formControlName="externalApiUrl">
        @if (dcrSubmitToApiForm.controls.externalApiUrl.invalid) {
          <mat-error>URL is required</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
  <div class="form-row">
    <div class="form-col">
      <mat-form-field class="form-field" appearance="outline" floatLabel="always">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username">
        @if (dcrSubmitToApiForm.controls.username.invalid) {
          <mat-error>Username is required</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-col">
      <mat-form-field class="form-field" appearance="outline" floatLabel="always">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        @if (dcrSubmitToApiForm.controls.password.invalid) {
          <mat-error>Password is required</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
  <div class="form-row">
    @if(isFhirBundleMissing){
      <mat-error class="margin-left-md">Please generate FHIR Bundle prior to submission.</mat-error>
    }
  </div>
  <div class="form-row">
    <div class="controls">
      <button mat-raised-button>Submit</button>
      <button class="margin-left-md" mat-raised-button type=button (click)="onClearFormData()">Clear Form Data</button>
    </div>
  </div>
</form>
@if (errorResponse) {
  <mat-card >
    <mat-card-header>
      <div class="section-title">
        API Submission Error
      </div>
    </mat-card-header>
    <mat-card-content>
      <app-dcr-error-viewer [errorResponse]=errorResponse></app-dcr-error-viewer>
    </mat-card-content>
  </mat-card>
}
