/*We may have to change the text area to resize dynamically as different users have different aspect ration screens.
* see https://stackoverflow.com/questions/17772260/textarea-auto-height
*/

textarea {
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color: #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 13px;
  line-height: 16px;
  width:96%;
}

.mat-radio-button {
  margin-right: 16px;
  margin-bottom: 10px;
}

.file-input {
  display: none;
}
