.mdi-case-number-label {
  margin: auto;
  font-weight: bold;
  flex: 1;
}

.mdi-case-number-flex-wrapper {
  display: flex;
  flex-direction: row;
}

.mdi-case-number-value {
  flex: 1;
  margin: auto;
}

.mdi-case-number-open-related {
  flex: 2;
  margin-right: 10px;
  justify-content: flex-end;
  align-items: end;
  align-content: end;
  display: flex;
}

