<mat-card class="margin-top-md">
  <mat-card-content>
    <mat-tab-group #mdiToEdrsTabGroup (selectedTabChange)="tabSelectionChange()" mat-stretch-tabs="false">

      <mat-tab label="{{ uiConstants.step1.TAB_LABEL_1 }}">
        <app-mdi-to-edrs-grid></app-mdi-to-edrs-grid>
      </mat-tab>

      <mat-tab label="{{ uiConstants.step1.TAB_LABEL_2 }}">
        <app-import-mdi-to-edrs-document></app-import-mdi-to-edrs-document>
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>

<div class="margin-top-md right-aligned">
  <button mat-raised-button
          [style.background-color]="config.backgroundColor"
          [style.color]="'white'" (click)="onAdvanceStepper()" class="action-button">
    {{ uiConstants.step1.PROCEED_TO_NEXT_STEP_BTN }}
  </button>
</div>
