.json-error{
  overflow: scroll;
  height: 400px;
  padding: 16px;
  color: darkred;
}

.human-readable{
  min-height: 400px;
}

.label{
  font-weight: bold;
  margin-right: 8px;
}

.error-data{
  color: darkred;
  overflow-wrap: break-word;
}

.success-data{
  color: darkgreen;
  overflow-wrap: break-word;
}

.json-success{
  overflow: scroll;
  height: 400px;
  padding: 16px;
  color: darkgreen;
}
