<div class="container">
  <h1>Feature under development</h1>
  <div style="margin: 1em 0">
  Select a testing workflow from the list below. You will walk through a series of steps to guide in testing of
  that workflow using the Raven platform, with demonstration of relevant FHIR Resources and API interactions.
  </div>
  <mat-card>
    <mat-card-title>Search EDRS</mat-card-title>
    <mat-card-content>
      Description. (need to talk through wording with Myung, may be able to pull from test docs somewhat)
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Start Workflow</button>
    </mat-card-actions>
  </mat-card>
</div>

