<div class="container">
  <div>
    <h1 class="top-spacer">Feature under development</h1>
    <div id="description">
      Select a testing workflow from the list below. You will walk through a series of steps to guide in testing of
      that workflow using the Raven platform, with demonstration of relevant FHIR Resources and API interactions.
    </div>
    <mat-card>
      <mat-card-title>EDRS Search</mat-card-title>
      <mat-card-content>
        Description. (need to talk through wording with Myung, may be able to pull from test docs somewhat)
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onStartWorkflow()">Start Workflow</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

