.view-item-button {
  min-width:40%; max-width: 100%
}

.server-select{
  min-width:40%; max-width: 100%; padding: 0px !important; margin: 0px !important;
}

.double-top-margin {
  margin-top: 32px;
}

.endpoint-radio-btns{
  margin-right: 2em
}

.simple-card{
  max-width: 37%;
  border-width: 1px;
  border-style: solid;
  border-color: #CDCDCD;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 3px;
}
