<div class="margin-md">
  <div class="mat-expansion-panel summary-section" >
    <div class="mat-expansion-panel-header">
      <span class="mat-content">
        <span class="mat-expansion-panel-header-title">
          {{appConfig?.workflowTitles?.['toxToMdi']}}s Related to Current {{appConfig?.workflowTitles?.['mdiToEdrs']}}
        </span>
      </span>
    </div>
    <div class="mat-expansion-panel-content">
      <div class="mat-expansion-panel-body">

        <table mat-table [dataSource]="dataSource" matSort matSortDisableClear class="mat-elevation-z8">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Issued Date </th>
            <td mat-cell *matCellDef="let report"> {{report?.['date']}} </td>
          </ng-container>
          <ng-container matColumnDef="toxCaseNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Toxicology Report Case Number </th>
            <td mat-cell *matCellDef="let report"> {{report?.['toxCaseNumber']}}</td>
          </ng-container>
          <ng-container matColumnDef="toxCaseSystem">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Toxicology Report Case System </th>
            <td mat-cell *matCellDef="let report"> {{report?.["toxCaseSystem"]}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr class="pointer" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td [attr.colspan]="displayedColumns.length">
              <span class="no-data-row-text">
                No {{appConfig?.workflowTitles?.['toxToMdi']}}s with matching MDI Case Number.
              </span>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>



</div>
