<!--&lt;!&ndash; The section below wraps the FHIR validator when used in standalone mode (when accessed directly) &ndash;&gt;-->
<div class="generic-component-wrapper">
  <div class="generic-component-content">
    <mat-card class="mat-elevation-z8">
      <mat-card-content>
        <lib-ngx-fhir-validator
          [validatorTitle]="'FHIR Validator'"
          [validationInputFormat]="validationTextFormat"
          [formatResourceBtnShown]="true"
          [buttonTxtColor]="'white'"
          [buttonBackgroundColor]="config.backgroundColor"
          [exportValidationResultsBtnName]="'Export Results (.zip)'"
          [exportValidationResultsBtnVisible]="true"
          (onExportValidationResults)="onExportValidationResults($event)"
        ></lib-ngx-fhir-validator>
      </mat-card-content>
    </mat-card>
  </div>
</div>
