.landing-page-wrapper {
  display: flex;
  flex-direction: row;
  margin: 24px;
}

.landing-page-content {
  flex: 1;
  width: 85%;
  margin: auto;
}

.option-tile-container {
  margin: auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  flex: 1;

}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-cell {
  flex: 1;
  padding: 5px;
  display: flex;
}

mat-card {
  flex: 1;
  padding: 0;
  cursor: pointer;
}

.card-image {
  width: 100%;
}

.row-spacer {
  height: 2em;
}

//mat-card-header {
//  border-radius: 4px 4px 0 0;
//  padding: 0;
//  margin: 0;
//  background: #7986CB;
//  color: white;
//}
//
//mat-card-title {
//  margin: 16px 0;
//}
//
//mat-card-content {
//  padding: 16px;
//}

.feature-in-progress {
  cursor: not-allowed;
}

.feature-in-progress mat-card {
  background: #c7c7c7;
}
.feature-in-progress mat-card-content {
  background: transparent;
}

.feature-in-progress mat-card-header {
  background: #5F6368;
}


mat-card {
  border-left: 8px solid transparent;
}
mat-card:hover {
  border-left: 8px solid black;
}

//.feature-in-progress:hover mat-card-header {
//  background: #5F6368;
//}

.zulip-row {
  display: flex;
  justify-content: center;
}
.zulip-icon {
  flex: 0;
  vertical-align: middle;
  margin-right: 5px;
}
.zulip-text {
  flex: 1;
  margin: auto;
  vertical-align: middle;
  font-weight: bold;
}

.zulip-cell mat-card {
  border: 1px solid darkorange;
  background: orange;
}
