//** Left Column Headers **//

.title-decoration {
  border-left: 16px solid black;
  padding-left: 8px;
}

.title-decoration-sm {
  border-left: 8px solid black;
  padding-left: 8px;
}

.larger-divider {
  border-width: 3px;
  margin: 8px;
}

.list-decoration {
  list-style-type: none;
  padding-left: 0;
}

.align-left { text-align: left; }

/** Mat Cards **/
mat-card {
  flex: 1;
  padding: 0;
  cursor: pointer;
}

.mat-card-title-decoration {
  display:flex;
  align-self:center;
  > mat-icon {
    margin: auto 8px auto auto;
  }
}

mat-card {
  border-left: 8px solid transparent;
}

mat-card:hover {
  border-left: 8px solid black;
}

//** Zulip Button **//
.zulip-row {
  display: flex;
  justify-content: center;
}
.card-open-new-window-icon {
  flex: 0;
  vertical-align: middle;
  margin-right: 5px;
}
.card-bold-text {
  flex: 1;
  margin: auto;
  vertical-align: middle;
  font-weight: bold;
}

.zulip-cell mat-card {
  border: 1px solid darkorange;
  background: orange;
}


