@use "src/styles" as s;
$dark-red-background: #B65454;
$dark-green-background: #335963;


.title-row {
  @extend .padding-md;
  background-color: s.$primary-color;
  > * {
    color: white;
    font-weight: bold;
    font-size: larger;
  }
}

.group-row {
  cursor: auto;
  height: auto;
  font-size: larger;
  @extend .center-contents;
  > * {
    font-variant-caps: all-small-caps;
    font-weight: bold;
    padding: s.$xs;
    text-align: center;
  }
  > .user-group {
    background-color: $dark-red-background;
    color: whitesmoke;
  }
  > .test-group {
    background-color: $dark-green-background;
    color: whitesmoke;
  }
}

.header-row {
  height: auto;
  > * {
    font-weight: bolder;
    font-variant-caps: all-small-caps;
    padding: s.$xs s.$sm;
  }
  > .user-header {
    background-color: #EED8D8;
  }
  > .test-header {
    background-color: #C9DEE3;
  }
}
.body-row {
  height: 64px;
  border-width: 0;
  > * {
    padding: 8px;
  }
  .user-cell {
    background-color: #FDFBFB;
    width: 15%;
  }
  .test-cell {
    background-color: #F8FCFC;
    border-right: 1px solid #edeeef;
    margin: 4px;
  }
}

.right-most-user-cell {
  box-shadow: inset -0.2em 0 0em 0em rgba(0,0,0,0.25);
}

.test-failed {
  font-weight: bold;
  background-color: rgba(255, 0, 0, .2) !important;
}

.complete-button {
  color: $dark-green-background;
}
