<div class="case-summary-content-wrapper">
  <div class="summary-section-grid">
    <div class="grid-row">
      <div class="grid-col-1">
        <button mat-raised-button
                [style.background-color]="config.backgroundColor"
                [style.color]="'white'"
                (click)="onInputBundleClick()">Input MDI to EDRS Document Bundle
        </button>
      </div>
      <div class="grid-col-1">
        <mat-form-field>
          <mat-select [(value)]="selectedTestCase">
            <mat-option (onSelectionChange)="onReferenceDocumentChanged($event)" class="mat-option"
                        *ngFor="let testCase of testCases" [value]="testCase">
              {{ testCase.display }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="grid-col-1">
        <div style="align-items: center;">
          <button mat-raised-button color="accent" (click)="runComparison()"
                  [style.background-color]="(userDocumentWrapper && referenceDocumentWrapper) ?
                   config.backgroundColor : '0 0 0 0.12'"
                  [style.color]="'white'"
                  [disabled]="!(userDocumentWrapper && referenceDocumentWrapper)">
            Compare
          </button>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-1">
        <div *ngIf="userDocumentWrapper">
          <mat-card>
            <mat-card-subtitle>
              Current User MDI to EDRS Document
            </mat-card-subtitle>
            <mat-card-content>
              Decedent Name: {{ userDocumentWrapper?.decedentName }}<br>
              Date/Time of Death: {{ userDocumentWrapper?.dateTimeOfDeath }}<br>
              MDI Case Number/System: {{ userDocumentWrapper?.mdiCaseNumber }}:{{ userDocumentWrapper?.mdiCaseNumberSystem}}
            </mat-card-content>
          </mat-card>

        </div>
      </div>
      <div class="grid-col-1">
        <div *ngIf="referenceDocumentWrapper">
          <mat-card>
            <mat-card-subtitle>Current Reference MDI to EDRS Document</mat-card-subtitle>
            <mat-card-content>
              Decedent Name: {{ referenceDocumentWrapper?.decedentName }}<br>
              Date/Time of Death: {{ referenceDocumentWrapper?.dateTimeOfDeath }}<br>
              MDI Case Number/System: {{ referenceDocumentWrapper?.mdiCaseNumber }}:{{ referenceDocumentWrapper?.mdiCaseNumberSystem}}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="grid-col-1">

      </div>
    </div>
  </div>

  <div *ngIf="stateList.comparisonLoaded;">
    <mat-divider class="divider-margins"></mat-divider>
    <div class="flex-row">
      <div class="flex-cell">
        <h1>Comparison Results</h1>
      </div>
      <div class="section-button-wrapper flex-cell" style="margin-bottom: 0.2rem">
        <button mat-raised-button color=primary (click)="onOpenAll()">
          <mat-icon>expand_more</mat-icon>
          Expand All Sections
        </button>
        <button mat-raised-button color=primary (click)="onCloseAll()">
          <mat-icon>expand_less</mat-icon>
          Collapse All Sections
        </button>
      </div>
      <div class="flex-cell"></div>
    </div>

    <mat-accordion multi>
      <mat-expansion-panel class="summary-section" id="caseAdminInfo" [expanded]="isExpanded('caseAdminInfo')">

        <!-- Case Administration Information Section -->
        <mat-expansion-panel-header (click)="onToggleState( 'caseAdminInfo' )">
          <mat-panel-title>
            <mat-icon *ngIf="difference.caseAdminInfoStatus=='valid'" class="valid-icon">done</mat-icon>
            <mat-icon *ngIf="difference.caseAdminInfoStatus=='invalid'" class="invalid-icon">error</mat-icon>
            Case Administration Information
          </mat-panel-title>
        </mat-expansion-panel-header>

        <record-comparison-content-field
          [state]="difference.mdiToEdrs?.extension?.style"
          [title]="'Tracking Numbers'"
          [resource]="'Composition MDI TO EDRS'"
          [fhirPath]="difference.mdiToEdrs?.expected?.resourceType + '.extension'"
          [expected]="difference.mdiToEdrs?.extension?.expected"
          [difference]="difference.mdiToEdrs?.extension?.difference"
          [expanded]="isAccordionExpanded"
        >
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.practitioner?.name?.style"
          [title]="'Chief ME/C Name'"
          [resource]="'US Core Practitioner'"
          [fhirPath]="difference.practitioner?.expected?.resourceType + '.name'"
          [expected]="difference.practitioner?.name?.expected"
          [difference]="difference.practitioner?.name?.difference"
          [expanded]="isAccordionExpanded"
        >
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.practitioner?.identifier?.style"
          [title]="'Chief ME/C License'"
          [resource]="'US Core Practitioner'"
          [fhirPath]="difference.practitioner?.expected?.resourceType + '.identifier'"
          [expected]="difference.practitioner?.identifier?.expected"
          [difference]="difference.practitioner?.identifier?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.practitioner?.telecom?.style"
          [title]="'Chief ME/C Telecom'"
          [resource]="'US Core Practitioner'"
          [fhirPath]="difference.practitioner?.expected?.resourceType + '.telecom'"
          [expected]="difference.practitioner?.telecom?.expected"
          [difference]="difference.practitioner?.telecom?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.practitioner?.address?.style"
          [title]="'Chief ME/C Address'" [resource]="'US Core Practitioner'"
          [fhirPath]="difference.practitioner?.expected?.resourceType+ '.address'"
          [expected]="difference.practitioner?.address?.expected"
          [difference]="difference.practitioner?.address?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

      </mat-expansion-panel>

      <!-- Demographics Section -->
      <mat-expansion-panel class="summary-section" id="demographics" [expanded]="isExpanded('demographics')">
        <mat-expansion-panel-header (click)="onToggleState( 'demographics' )">
          <mat-panel-title>
            <mat-icon *ngIf="difference.demographicsStatus=='valid'" class="valid-icon">done</mat-icon>
            <mat-icon *ngIf="difference.demographicsStatus=='invalid'" class="invalid-icon">error</mat-icon>
            Demographics
          </mat-panel-title>
        </mat-expansion-panel-header>

        <record-comparison-content-field
          [state]="difference.patient?.name?.style"
          [title]="'Name'"
          [resource]="'US Core Patient'"
          [fhirPath]="difference.patient?.expected?.resourceType + '.name'"
          [expected]="difference.patient?.name?.expected"
          [difference]="difference.patient?.name?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.patient?.gender?.style"
          [title]="'Legal Sex at Death'"
          [resource]="'US Core Patient'"
          [fhirPath]="difference.patient?.expected?.resourceType + '.gender'"
          [expected]="difference.patient?.gender?.expected"
          [difference]="difference.patient?.gender?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.patient?.identifier?.style"
          [title]="'Social Security Number'"
          [resource]="'US Core Patient'"
          [fhirPath]="difference.patient?.expected?.resourceType + '.identifier'"
          [expected]="difference.patient?.identifier?.expected"
          [difference]="difference.patient?.identifier?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.patient?.birthDate?.style"
          [title]="'Date of Birth'"
          [resource]="'US Core Patient'"
          [fhirPath]="difference.patient?.expected?.resourceType + '.birthDate'"
          [expected]="difference.patient?.birthDate?.expected"
          [difference]="difference.patient?.birthDate?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.patient?.race?.style"
          [title]="'Race'"
          [resource]="'US Core Patient'"
          [fhirPath]="difference.patient?.expected?.resourceType + '.valueString'"
          [expected]="difference.patient?.race?.expected"
          [difference]="difference.patient?.race?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.patient?.ethnicity?.style"
          [title]="'Ethnicity'"
          [resource]="'US Core Patient'"
          [fhirPath]="difference.patient?.expected?.resourceType + '.valueString'"
          [expected]="difference.patient?.ethnicity?.expected"
          [difference]="difference.patient?.ethnicity?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.patient?.address?.style"
          [title]="'Residence'"
          [resource]="'US Core Patient'"
          [fhirPath]="difference.patient?.expected?.resourceType + '.address'"
          [expected]="difference.patient?.address?.expected"
          [difference]="difference.patient?.address?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

      </mat-expansion-panel>

      <!-- Circumstances Section -->
      <mat-expansion-panel class="summary-section" id="circumstances" [expanded]="isExpanded('circumstances')">
        <mat-expansion-panel-header (click)="onToggleState( 'circumstances' )">
          <mat-panel-title>
            <mat-icon *ngIf="difference.circumstancesStatus=='valid'" class="valid-icon">done</mat-icon>
            <mat-icon *ngIf="difference.circumstancesStatus=='invalid'" class="invalid-icon">error</mat-icon>
            Circumstances
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Location - Death -->
        <record-comparison-content-field
          [state]="difference.locationDeath?.name?.style"
          [title]="fields.deathLocation.title"
          [resource]="fields.deathLocation.profile"
          [fhirPath]="fields.deathLocation.fhirPath"
          [expected]="difference.locationDeath?.name?.expected"
          [difference]="difference.locationDeath?.name?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <!-- Location - Injury -->
        <record-comparison-content-field
          [state]="difference.locationInjury?.name?.style"
          [title]="fields.injuryLocation.title"
          [resource]="fields.injuryLocation.profile"
          [fhirPath]="fields.injuryLocation.fhirPath"
          [expected]="difference.locationInjury?.name?.expected"
          [difference]="difference.locationInjury?.name?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.tobaccoUse?.valueCodeableConcept?.style"
          [title]="'Tobacco Use Contributed to Death'"
          [resource]="'Observation-tobacco-use'"
          [fhirPath]="difference.tobaccoUse?.expected?.resourceType + '.valueCodeableConcept'"
          [expected]="difference.tobaccoUse?.valueCodeableConcept?.expected"
          [difference]="difference.tobaccoUse?.valueCodeableConcept?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.pregnancy?.valueCodeableConcept?.style"
          [title]="'Decedent Pregnancy Status'"
          [resource]="'Observation-decedent-pregnancy'"
          [fhirPath]="difference.pregnancy?.expected?.resourceType + '.valueCodeableConcept'"
          [expected]="difference.pregnancy?.valueCodeableConcept?.expected"
          [difference]="difference.pregnancy?.valueCodeableConcept?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

      </mat-expansion-panel>

      <!-- Jurisdiction Section -->
      <mat-expansion-panel class="summary-section" id="jurisdiction" [expanded]="isExpanded('jurisdiction')">
        <mat-expansion-panel-header (click)="onToggleState( 'jurisdiction' )">
          <mat-panel-title>
            <mat-icon *ngIf="difference.jurisdictionStatus=='valid'" class="valid-icon">done</mat-icon>
            <mat-icon *ngIf="difference.jurisdictionStatus=='invalid'" class="invalid-icon">error</mat-icon>
            Jurisdiction
          </mat-panel-title>
        </mat-expansion-panel-header>

        <record-comparison-content-field
          [state]="difference.deathDate?.effectiveDateTime?.style"
          [title]="'Death Date/Time'"
          [resource]="'Observation-death-date'"
          [fhirPath]="difference.deathDate?.expected?.resourceType + '.valueDateTime'"
          [expected]="difference.deathDate?.effectiveDateTime?.expected"
          [difference]="difference.deathDate?.effectiveDateTime?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.deathDate?.pronouncedDateTime?.style"
          [title]="'Pronounced Date/Time'"
          [resource]="'Observation-death-date'"
          [fhirPath]="difference.deathDate?.expected?.resourceType + '.valueDateTime'"
          [expected]="difference.deathDate?.pronouncedDateTime?.expected"
          [difference]="difference.deathDate?.pronouncedDateTime?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.deathDate?.method?.style"
          [title]="'Establishment Approach'"
          [resource]="'Observation-death-date'"
          [fhirPath]="difference.deathDate?.expected?.resourceType + '.method'"
          [expected]="difference.deathDate?.method?.expected"
          [difference]="difference.deathDate?.method?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

      </mat-expansion-panel>

      <!-- Cause and Manner of Death Section -->
      <mat-expansion-panel class="summary-section" id="causeAndManner" [expanded]="isExpanded('causeAndManner')">

        <mat-expansion-panel-header (click)="onToggleState( 'causeAndManner' )">
          <mat-panel-title>
            <mat-icon *ngIf="difference.causeAndMannerStatus=='valid'" class="valid-icon">done</mat-icon>
            <mat-icon *ngIf="difference.causeAndMannerStatus=='invalid'" class="invalid-icon">error</mat-icon>
            Cause and Manner of Death
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngFor="let causeOfDeath1 of difference.causeOfDeath1List; let i = index">
          <record-comparison-content-field
            [state]="causeOfDeath1?.valueCodeableConcept?.style"
            [title]="'Part 1 Immediate Cause Event ' + (i+1)"
            [resource]="'Observation-cause-of-death-part1'"
            [fhirPath]="causeOfDeath1?.expected?.resourceType + '.valueCodeableConcept'"
            [expected]="causeOfDeath1?.valueCodeableConcept?.expected"
            [difference]="causeOfDeath1?.valueCodeableConcept?.difference"
            [expanded]="isAccordionExpanded">
          </record-comparison-content-field>

          <record-comparison-content-field
            [state]="causeOfDeath1?.valueString?.style"
            [title]="'Part 1 Immediate Cause Interval ' + (i+1)"
            [resource]="'Observation-cause-of-death-part1'"
            [fhirPath]="causeOfDeath1?.expected?.resourceType + '.component.valueString'"
            [expected]="causeOfDeath1?.valueString?.expected"
            [difference]="causeOfDeath1?.valueString?.difference"
            [expanded]="isAccordionExpanded">
          </record-comparison-content-field>
        </div>

        <record-comparison-content-field
          [state]="difference.causeOfDeath2?.valueCodeableConcept?.style"
          [title]="'Part 2 Contributing Cause'"
          [resource]="'Observation-cause-of-death-part2'"
          [fhirPath]="difference.causeOfDeath2?.expected?.resourceType + '.valueCodeableConcept'"
          [expected]="difference.causeOfDeath2?.valueCodeableConcept?.expected"
          [difference]="difference.causeOfDeath2?.valueCodeableConcept?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.mannerOfDeath?.valueCodeableConcept?.style"
          [title]="'Manner of Death'"
          [resource]="'Observation-manner-of-death'"
          [fhirPath]="difference.mannerOfDeath?.expected?.resourceType + '.valueCodeableConcept'"
          [expected]="difference.mannerOfDeath?.valueCodeableConcept?.expected"
          [difference]="difference.mannerOfDeath?.valueCodeableConcept?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.howDeathOccurred?.placeOfInjury?.style"
          [title]="'Place of Injury'"
          [resource]="'Observation-how-death-injury-occurred'"
          [fhirPath]="difference.howDeathOccurred?.expected?.resourceType + '.valueCodeableConcept'"
          [expected]="difference.howDeathOccurred?.placeOfInjury?.expected"
          [difference]="difference.howDeathOccurred?.placeOfInjury?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.howDeathOccurred?.howDeathInjuryOccurred?.style"
          [title]="'How Injury Occurred'"
          [resource]="'Observation-how-death-injury-occurred'"
          [fhirPath]="difference.howDeathOccurred?.expected?.resourceType + '.valueCodeableConcept'"
          [expected]="difference.howDeathOccurred?.howDeathInjuryOccurred?.expected"
          [difference]="difference.howDeathOccurred?.howDeathInjuryOccurred?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.howDeathOccurred?.effectiveDateTime?.style"
          [title]="'Injury Date/Time'"
          [resource]="'Observation-how-death-injury-occurred'"
          [fhirPath]="difference.howDeathOccurred?.expected?.resourceType + '.effectiveDateTime'"
          [expected]="difference.howDeathOccurred?.effectiveDateTime?.expected"
          [difference]="difference.howDeathOccurred?.effectiveDateTime?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.howDeathOccurred?.injuryOccurredAtWork?.style"
          [title]="'Injury/Event Occurred at Work'"
          [resource]="'Observation-how-death-injury-occurred'"
          [fhirPath]="difference.howDeathOccurred?.expected?.resourceType + '.valueCodeableConcept'"
          [expected]="difference.howDeathOccurred?.injuryOccurredAtWork?.expected"
          [difference]="difference.howDeathOccurred?.injuryOccurredAtWork?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.howDeathOccurred?.transportationRole.style"
          [title]="'Transportation Role'"
          [resource]="'Observation-how-death-injury-occurred'"
          [fhirPath]="difference.howDeathOccurred?.expected?.resourceType + '.valueCodeableConcept'"
          [expected]="difference.howDeathOccurred?.transportationRole?.expected"
          [difference]="difference.howDeathOccurred?.transportationRole?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>
      </mat-expansion-panel>

      <!-- Medical History Section -->
      <!-- TODO -->

      <!-- Exam and Autopsy Section -->
      <mat-expansion-panel class="summary-section" id="examAndAutopsy" [expanded]="isExpanded('examAndAutopsy')">
        <mat-expansion-panel-header (click)="onToggleState( 'examAndAutopsy' )">
          <mat-panel-title>
            <mat-icon *ngIf="difference.examAndAutopsyStatus=='valid'" class="valid-icon">done</mat-icon>
            <mat-icon *ngIf="difference.examAndAutopsyStatus=='invalid'" class="invalid-icon">error</mat-icon>
            Exam and Autopsy
          </mat-panel-title>
        </mat-expansion-panel-header>

        <record-comparison-content-field
          [state]="difference.autopsyPerformed?.valueCodeableConcept?.style"
          [title]="'Results Available'"
          [resource]="'Observation-autopsy-performed-indicator'"
          [fhirPath]="difference.autopsyPerformed?.expected?.resourceType + '.valueCodeableConcept'"
          [expected]="difference.autopsyPerformed?.valueCodeableConcept?.expected"
          [difference]="difference.autopsyPerformed?.valueCodeableConcept?.difference"
          [expanded]="isAccordionExpanded"
        >
        </record-comparison-content-field>

        <record-comparison-content-field
          [state]="difference.autopsyPerformed?.componentValueCodeableConcept?.style"
          [title]="'Autopsy Performed'"
          [resource]="'Observation-autopsy-performed-indicator'"
          [fhirPath]="difference.autopsyPerformed?.expected?.resourceType + '.component'"
          [expected]="difference.autopsyPerformed?.componentValueCodeableConcept?.expected"
          [difference]="difference.autopsyPerformed?.componentValueCodeableConcept?.difference"
          [expanded]="isAccordionExpanded">
        </record-comparison-content-field>
      </mat-expansion-panel>

      <!-- Narratives Section -->
      <!-- TODO -->
    </mat-accordion>

  </div>

</div>

<!--<div class="spinner-container" *ngIf="isLoading">-->
<!--  <mat-spinner></mat-spinner>-->
<!--</div>-->

