<div class="certifier-wrapper bottom-spacer">

  <!-- CERTIFYING TOXICOLOGIST NAME -->
  <div class="field-label" appSetFhirExplorer [resource]="certifier.certifyingToxicologist.resource">
    Certifying Toxicologist:
  </div>
  <div class="field-value" appSetFhirExplorer [resource]="certifier.certifyingToxicologist.resource">
    {{certifier?.certifyingToxicologist?.name || "Certifying Toxicologist Not Found"}}
  </div>

  <!-- ORGANIZATION NAME -->
  <div class="field-label" appSetFhirExplorer [resource]="certifier.certifyingToxicologist.resource">
    Organization:
  </div>
  <div class="field-value" appSetFhirExplorer [resource]="certifier.certifyingToxicologist.resource">
    {{certifier?.organizationName || "Organization Name Not Found"}}
  </div>

  <!-- ORGANIZATION NAME -->
  <div class="field-label" appSetFhirExplorer [resource]="certifier.certifyingToxicologist.resource">
    Organization Address:
  </div>
  <div class="field-value" appSetFhirExplorer [resource]="certifier.certifyingToxicologist.resource">
    {{certifier?.organizationAddress || "Organization Address Not Found"}}
  </div>

  <!-- ADDITIONAL PERFORMERS -->
  <div class="field-label grid-cell-span-2">
    Additional Performers
  </div>
  <div class="grid-cell-span-2">
    @if (toxSummary?.performers) {
      <record-viewer-tox-to-mdi-viewer-grid-section [data]="toxSummary?.performers" [columns]="['name']"></record-viewer-tox-to-mdi-viewer-grid-section>
    }
  </div>

</div>
