<div class="generic-component-wrapper">
  <div class="generic-component-content">

    <mat-card class="margin-bottom-lg">
      <mat-card-header>
        <mat-card-title>
          Step 1 - Complete Form and Generate DCR FHIR Bundle
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-dcr-form-completion (submitDcrForm)="submitDcrForm($event)"></app-dcr-form-completion>
      </mat-card-content>

    </mat-card>


    <mat-card class="margin-bottom-lg">
      <mat-card-header>
        <mat-card-title>
          Step 2 - Review DCR FHIR bundle
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <app-dcr-fhir-bundle-review></app-dcr-fhir-bundle-review>
      </mat-card-content>
    </mat-card>


    <mat-card class="margin-bottom-lg">
      <mat-card-header>
        <mat-card-title>
          Step 3 - Enter Submission Details
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-dcr-submit-form (submitToExternalApi)="onSubmitToExternalApi($event)"></app-dcr-submit-form>
      </mat-card-content>
    </mat-card>


  </div>
</div>
