@use '@angular/material' as mat;

:host {
  @include mat.theme((
    density: -4
  ));


  @include mat.form-field-overrides((
    //container-height: 1.8em,
    //container-vertical-padding: 0.5em,
    //container-text-size: 1em,
    //subscript-text-line-height: 0.8em,
    //subscript-text-size: 0.8em,
  ));
  //@include mat.icon-button-overrides((
  //  icon-size: 1.2em,
  //));
  //@include mat.radio-overrides((
  //  state-layer-size: 2em,
  //));
  //@include mat.checkbox-overrides((
  //  state-layer-size: 2em,
  //));
  //TODO remove deprecated code
    ::ng-deep {
      .mat-mdc-form-field-infix {
        width: 80px;
      }
    }
}

.step {
  margin: 16px 0;
  padding: 16px 0;
}

.form-wrapper{
  display: flex;
  //justify-content: center;
}

.section-label{
  font-weight: bold;
  font-size: larger;
  margin: 32px 8px 16px 8px;
}

.form-field {
  width: 100%;
}

.form-row {
  display: flex;
  margin: 4px 0;
}

.form-col {
  flex: 1;
  margin: 8px;
}

.h2-label{
  text-decoration: underline;
  margin-left: 8px;
  margin-bottom: 8px;
}

.hint{
  font-size: smaller;
  margin: 0 8px;
}

.controls{
  margin: 16px 8px;
  display: flex;
  justify-content: flex-end;
}


.iterative-container {
  display: flex;
  flex-wrap: wrap;
}

.iterative-container-item {
  flex: 50%;
}

.step-label{
  font-size: larger;
  padding: 26px 16px;
  background-color: whitesmoke;
  border: #5F6368 1px solid;
  border-radius: 4px;
}

.section-title{
  font-size: larger;
  margin: 8px 0;
}

.section{
  margin: 0 24px;
}

