<div class="generic-component-wrapper">
  <div class="generic-component-content">

    <div class="step">
      <div class="step-label">
        Step 1 - Complete Form and Generate DCR FHIR Bundle
      </div>
      <div class="margin-md">
        <app-dcr-form-completion (submitDcrForm)="submitDcrForm($event)"></app-dcr-form-completion>
      </div>
    </div>


    <div class="step">
      <div class="step-label">
        Step 2 - Review DCR FHIR bundle
      </div>
      <div class="margin-md">
        <app-dcr-fhir-bundle-review></app-dcr-fhir-bundle-review>
      </div>
    </div>

    <div class="step">
      <div class="step-label">
        Step 3 - Enter Submission Details
      </div>
      <div class="margin-md">
        <app-dcr-submit-form (submitToExternalApi)="onSubmitToExternalApi($event)"></app-dcr-submit-form>
      </div>
    </div>
  </div>
</div>
