table {
  width: 100%;
}
.spinner-container {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 40%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
.inline-spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-subtitle {
  text-decoration: overline;
  font-size: smaller;
}
