@if (!serverErrorDetected) {
  <div class="generic-component-wrapper">
    <div class="generic-component-content">
      <div class="record-content">
        <mat-card>
          <mat-card-content>
            <mat-tab-group mat-stretch-tabs="false"
              [(selectedIndex)]="selectedTabIndex">
              <mat-tab [label]="appConfig.workflowTitles?.['mdiToEdrs'] + 's'">
                <record-viewer-decedent-records-grid
                  (serverErrorEventEmitter)="onServerErrorDetected()">
                </record-viewer-decedent-records-grid>
              </mat-tab>
              <mat-tab [label]="appConfig.workflowTitles?.['toxToMdi'] + 's'">
                <record-viewer-toxicology-grid
                  (serverErrorEventEmitter)="onServerErrorDetected()"
                  (onToxRecordSelected)="onToxRecordSelected($event)"
                ></record-viewer-toxicology-grid>
              </mat-tab>
              <mat-tab [label]="appConfig.workflowTitles?.['dcr'] + 's'">
                <dcr-grid
                  (serverErrorEventEmitter)="onServerErrorDetected()"
                ></dcr-grid>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
}
@if (serverErrorDetected) {
  <lib-common-error (buttonClickEvent)="onPageReload()">
  </lib-common-error>
}
