.response-container {
  margin-top: 1em;
  padding: 1em;
  min-height: 300px;
  max-height: 300px;
  border: #cdcdcd 1px solid;
  border-radius: 4px;
  overflow: auto;
}

.operation-outcome-html {
  border: red 1px solid;
  border-radius: 4px;
  padding: 1em;
  margin: 1em
}
.result-label{
  font-weight: bold;
}

.result-line-item{
  margin: 1em 0
}
.table-line{
  font-size: small;
}
