<div class="app-wrapper" [style.background-color]="contrastColor">
  <common-nav-menu [options]="optionConfig" [backgroundColor]="color" [contrastColor]="contrastColor">
  </common-nav-menu>
  <div #content class="app-flex-wrapper">
    <div class="app-header-wrapper">
      <common-header
        [title]="title"
        [subtitle]="subTitle"
        [splitSubtitleEvenly]="true"
        [version]="version"
        [backgroundColor]="color"
        [configuration]="headerConfig"
      ></common-header>
      <app-user-header></app-user-header>
    </div>
    <div>
      <app-module-header></app-module-header>
    </div>
    <div class="app-body-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
