.flex-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.header-wrapper {
  flex: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

common-header {
  flex: 1
}

.content-wrapper {
  flex: 1;
}

app-bundle-browser {
  flex: 1 1 auto !important;
}

.router-outlet-wrapper {
  flex: 1 1 0;
  overflow-y: auto;
}


.col-input {
  flex: 0 0 40%;
}

.col-remove-button {
  flex: 0 0 10%;
}
