<div class="summary-section-body">
  <div class="summary-section-grid">

    <div class="grid-row">
      <div class="grid-col-1">
        <record-viewer-mdi-to-edrs-viewer-content-field
          [label]="'Date/Time of Death'"
          [value]="deathInvestigation.dateTimeOfDeath"
          appSetFhirExplorer
          [resource]="deathInvestigation.resource"
        />
      </div>
      <div class="grid-col-1"></div>
    </div>

    <div class="content-field-label margin-top-lg">
      <p><u>Place of Death</u></p>
    </div>
    <div class="grid-row">
      <div class="grid-col-1">
        <record-viewer-mdi-to-edrs-viewer-content-field
          [label]="'Facility Name'"
          [value]="deathInvestigation?.placeOfDeath?.facilityName"
          appSetFhirExplorer
          [resource]="deathInvestigation?.placeOfDeath.resource">
        </record-viewer-mdi-to-edrs-viewer-content-field>
      </div>
      <div class="grid-col-1"></div>
    </div>
    <div class="grid-row">
      <div class="grid-col-1">
        <record-viewer-mdi-to-edrs-viewer-content-field
          [label]="'Address Line 1'"
          [value]="deathInvestigation?.placeOfDeath?.address?.line1"
          appSetFhirExplorer
          [resource]="deathInvestigation?.placeOfDeath.resource">
        </record-viewer-mdi-to-edrs-viewer-content-field>
      </div>
      <div class="grid-col-1">
        <record-viewer-mdi-to-edrs-viewer-content-field
          [label]="'Address Line 2'"
          [value]="deathInvestigation?.placeOfDeath?.address?.line2"
          appSetFhirExplorer
          [resource]="deathInvestigation?.placeOfDeath.resource">
        </record-viewer-mdi-to-edrs-viewer-content-field>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-1">
        <record-viewer-mdi-to-edrs-viewer-content-field
          [label]="'City'"
          [value]="deathInvestigation?.placeOfDeath?.address?.city"
          appSetFhirExplorer
          [resource]="deathInvestigation?.placeOfDeath.resource">
        </record-viewer-mdi-to-edrs-viewer-content-field>
      </div>
      <div class="grid-col-1">
        <record-viewer-mdi-to-edrs-viewer-content-field
          [label]="'State'"
          [value]="deathInvestigation?.placeOfDeath?.address?.state"
          appSetFhirExplorer
          [resource]="deathInvestigation?.placeOfDeath.resource">
        </record-viewer-mdi-to-edrs-viewer-content-field>
      </div>
      <div class="grid-col-1">
        <record-viewer-mdi-to-edrs-viewer-content-field
          [label]="'Zip Code'"
          [value]="deathInvestigation?.placeOfDeath?.address?.zip"
          appSetFhirExplorer
          [resource]="deathInvestigation?.placeOfDeath.resource">
        </record-viewer-mdi-to-edrs-viewer-content-field>
      </div>
      <div class="grid-col-1">
        <record-viewer-mdi-to-edrs-viewer-content-field
          [label]="'Country'"
          [value]="deathInvestigation?.placeOfDeath?.address?.country"
          appSetFhirExplorer
          [resource]="deathInvestigation?.placeOfDeath.resource">
        </record-viewer-mdi-to-edrs-viewer-content-field>
      </div>
    </div>

  </div>
</div>
