<div class="margin-top-lg margin-bottom-md">
  <form [formGroup]="searchFilterForm" (ngSubmit)="onSearch()">

    <mat-form-field appearance="outline" class="margin-left-md" floatLabel="always" style="min-width: 20em">
      <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
      <mat-hint>Enter first name, last name or part of a name</mat-hint>
    </mat-form-field>

    <ng-container formGroupName="deathDate">
      <mat-form-field appearance="outline" class="margin-left-md" floatLabel="always">
        <mat-label>Date of Death Range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </ng-container>

    <mat-form-field appearance="outline" class="margin-left-md narrow-filter" floatLabel="always">
      <mat-label>Gender</mat-label>
      <mat-select [formControl]="searchFilterForm.controls.gender">
        <mat-option [value]="null">All</mat-option>
        @for (option of genderOptions; track option) {
          <mat-option [value]="option.value">
            {{ option.label }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-raised-button class="primary-color-button margin-left-md" type="submit"
            [style.background-color]="config.backgroundColor" [style.color]="'white'">
      Search
    </button>
  </form>
</div>

@if (isLoading) {
  <div class="spinner-container">
    <mat-spinner [diameter]="70"></mat-spinner>
  </div>
}
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Decedent Name</th>
    <td mat-cell class="pointer"
        *matCellDef="let decedent"> {{ getDecedentFullName(decedent) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> Sex</th>
    <td mat-cell class="pointer" *matCellDef="let decedent"> {{ decedent.gender | titlecase }}</td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Age</th>
    <td mat-cell class="pointer" *matCellDef="let decedent"> {{ decedent.age }}</td>
  </ng-container>

  <ng-container matColumnDef="tod">
    <th mat-header-cell *matHeaderCellDef> Date of Death</th>
    <td mat-cell class="pointer" *matCellDef="let decedent"> {{ decedent.tod | date: 'MM/dd/yyyy' }}</td>
  </ng-container>

  <ng-container matColumnDef="mannerOfDeath">
    <th mat-header-cell *matHeaderCellDef> Manner of Death</th>
    <td mat-cell class="pointer" *matCellDef="let decedent"> {{ decedent.mannerOfDeath | titlecase }}</td>
  </ng-container>

  <ng-container matColumnDef="caseNumber">
    <th mat-header-cell *matHeaderCellDef> MDI Case Number</th>
    <td mat-cell class="pointer" *matCellDef="let decedent"
        [matTooltip]="'System: ' + (decedent.system || 'Unknown')"> {{ decedent.caseNumber }}
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onCaseSelected(row)"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [colSpan]="displayedColumns.length">
      @if (!isLoading) {
        No results found.
      }
  </tr>
</table>


<mat-paginator
  #paginator
  [length]="totalDataSize"
  [pageSizeOptions]="pageSizes"
  [pageSize]="pageSize"
  showFirstLastButtons
  (page)="onPageChanged($event)"
  aria-label="Select page">
  >
</mat-paginator>


