<div class="event-card">
  <div class="card-header">
    {{event.title}}
    <span class="content-spacer"></span>
    @if (!registered) {
      <div>
        <button mat-raised-button class="register-button" (click)="onClickRegister(event)">
          <mat-icon>check_box_outline_blank</mat-icon>
          Register
        </button>
      </div>
    }
    @if (registered) {
      <div>
        <button mat-raised-button class="register-button">
          <mat-icon>check_box</mat-icon>
          Registered
        </button>
      </div>
    }
  </div>
  <div class="card-body">
    <div class="card-tests">
      @for (testItem of event.items; track testItem) {
        <ul >
          <li>{{ testItem.name }}</li>
        </ul>
      }
    </div>
    <div class="card-desc">
      {{event.description}}
    </div>
  </div>
</div>
