<div mat-dialog-title>Submit File(s)</div>
<mat-dialog-content [ngClass]="warningMessage.length > 0 ? 'no-padding-bottom': '' ">
  Drag and drop files into the area provided or
  <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload multiple>
  <button class="margin-left-sm" mat-raised-button (click)="fileUpload.click()">
    <mat-icon>folder_open</mat-icon>
    Browse files
  </button>
  <div class="file-upload border">
    @if (files?.length) {
      <div class="table-container">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef>File Name</th>
            <td mat-cell *matCellDef="let file"> {{ file.name }}</td>
          </ng-container>

          <ng-container matColumnDef="fileSize">
            <th mat-header-cell *matHeaderCellDef> Size</th>
            <td mat-cell *matCellDef="let file"> {{ file.size | fileSize }}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let file">
              <mat-icon class="cancel-upload" (click)="removeFile(file)" matTooltip="Remove File">close</mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
          <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;"
              [ngClass]="{'background-color': even}"></tr>
        </table>
      </div>
    } @else {
      <div class="drag-and-drop-area background-color"
           (drop)="onFileDrop($event)"
           (dragover)="onDragOver($event)">
        Drag and drop files here.
      </div>
    }
  </div>
    <div class="warning-message">{{ warningMessage }}</div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="actions">
    <div>
      <button mat-raised-button (click)="onCancel()">Cancel</button>
      <button mat-raised-button (click)="uploadZip(files)">
        <mat-icon>upload</mat-icon>
        Upload
      </button>
    </div>

    <div class="message">
      Total: {{ files | totalFileSize | fileSize }}
    </div>
  </div>
</mat-dialog-actions>
