.file-upload{
  margin-top: 16px;
  height: 200px;
  overflow-y: scroll;
  display: flex;
  >.table-container{
    width: 100%;
  }
  >.drag-and-drop-area{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.background-color{
  background-color: whitesmoke;
}

.cancel-upload{
  cursor: pointer;
}

.actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px;
  margin-bottom: 16px;
  >.message{
    font-size: medium;
    >.error{
      color: #F25465;
    }
    >.warning{
      color: #F8B15E;
    }
  }
}
