.file-upload{
  margin-top: 16px;
  height: 200px;
  overflow-y: scroll;
  display: flex;
  >.table-container{
    width: 100%;
  }
  >.drag-and-drop-area{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.no-padding-bottom{
  padding-bottom: 0;
}

.background-color{
  background-color: whitesmoke;
}

.cancel-upload{
  cursor: pointer;
}

.actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 16px 16px 16px;
}

.warning-message{
  font-size: medium;
  color: #F25465;
  margin-top: 8px;
}
