
<div class="section-button-wrapper">
  <button mat-raised-button (click)="onOpenAll()" [style.background-color]="config.backgroundColor" [style.color]="appConfig.contrastColor">
    <mat-icon>expand_more</mat-icon>
    Expand All Sections
  </button>
  <button mat-raised-button (click)="onCloseAll()" [style.background-color]="config.backgroundColor" [style.color]="appConfig.contrastColor">
    <mat-icon>expand_less</mat-icon>
    Collapse All Sections
  </button>
  <span class="content-spacer"></span>

</div>

<div class="summary-section mdi-case-number-body-padding" #mdiCaseNumber id="mdiCaseNumber" [style.border-color]="appConfig.color">
  <div class="summary-section-body">
    <div class="summary-section-grid">
      <div class="grid-row">
        <div class="grid-col-1">
          @if (toxToMdiRecord) {
            <record-viewer-tox-to-mdi-viewer-mdi-case [toxSummary]="toxToMdiRecord?.toxSummary"></record-viewer-tox-to-mdi-viewer-mdi-case>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<mat-accordion multi>
  <!-- Patient Demographics Abridged -->
  <mat-expansion-panel class="summary-section" id="demographics" [expanded]="isExpanded('demographics')" [style.border-color]="appConfig.color">
    <mat-expansion-panel-header (click)="onToggleState( 'demographics' )">
      <mat-panel-title>Demographics</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="summary-section-body">
      <record-viewer-tox-to-mdi-viewer-demographics [demographics]="toxToMdiRecord?.toxSummary?.demographics">
      </record-viewer-tox-to-mdi-viewer-demographics>
    </div>
  </mat-expansion-panel>

  <!-- Performer(s) -->
  <mat-expansion-panel class="summary-section" #performers id="performers" [expanded]="isExpanded('performers')" [style.border-color]="appConfig.color">
    <mat-expansion-panel-header (click)="onToggleState( 'performers' )">
      <mat-panel-title>Performer(s)</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="summary-section-body">
      @if (toxToMdiRecord?.toxSummary?.certifier) {
        <record-viewer-tox-to-mdi-viewer-certifier
          [certifier]="toxToMdiRecord?.toxSummary?.certifier"
        [toxSummary]="toxToMdiRecord?.toxSummary"></record-viewer-tox-to-mdi-viewer-certifier>
      }
    </div>
  </mat-expansion-panel>

  <!-- Specimens -->
  <mat-expansion-panel class="summary-section" id="specimens" [expanded]="isExpanded('specimens')" [style.border-color]="appConfig.color">
    <mat-expansion-panel-header (click)="onToggleState( 'specimens' )">
      <mat-panel-title>Specimens</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="summary-section-body">
      @if (toxToMdiRecord?.toxSummary?.specimens) {
        <record-viewer-tox-to-mdi-viewer-grid-section
          [data]="toxToMdiRecord?.toxSummary?.specimens"
          [columns]="['type', 'site', 'identifier', 'collected', 'received', 'condition', 'container']">
        </record-viewer-tox-to-mdi-viewer-grid-section>
      }
    </div>
  </mat-expansion-panel>

  <!-- Test Results -->
  <mat-expansion-panel class="summary-section" id="results" [expanded]="isExpanded('results')" [style.border-color]="appConfig.color">
    <mat-expansion-panel-header (click)="onToggleState( 'results' )">
      <mat-panel-title>Test Results</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="summary-section-body">
      @if (toxToMdiRecord?.toxSummary?.results) {
        <record-viewer-tox-to-mdi-viewer-grid-section
          [data]="toxToMdiRecord?.toxSummary?.results"
          [columns]="['test', 'value', 'date', 'specimen']">
        </record-viewer-tox-to-mdi-viewer-grid-section>
      }
    </div>
  </mat-expansion-panel>

  <!-- Conclusion -->
  <mat-expansion-panel class="summary-section" id="conclusion" [expanded]="isExpanded('conclusion')" [style.border-color]="appConfig.color">
    <mat-expansion-panel-header (click)="onToggleState( 'conclusion' )">
      <mat-panel-title>Conclusion</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="summary-section-body"
      appSetFhirExplorer
      [profile]="fhirProfiles.ToxToMdi.Tox_Diagnostic_Report"
      [bundle]="toxToMdiRecord?.messageBundle">
      @if (toxToMdiRecord?.toxSummary) {
        <textarea class="conclusion-text-area" readonly [ngModel]="toxToMdiRecord?.toxSummary?.conclusion" (ngModelChange)="toxToMdiRecord?.toxSummary?.conclusion ? toxToMdiRecord.toxSummary.conclusion=$event : 'No Conclusion Found'"></textarea>
      }
    </div>
  </mat-expansion-panel>

</mat-accordion>
