.radio-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 2em 0 2em;
}

.radio-button {
  margin: 5px;
}

.import-case.mat-card{
  padding-top: 2em;
  padding-left: 2em;
  padding-bottom: 2em;
}

#radio-button-label {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-weight: bold;
}

#card {
  paddin-right: 2em, 2em, 2em, 2em
}
