.content-field {
  display: flex;
  flex-direction: row;
  border: 1px black dashed;
}

.content-field-label {
  padding: 5px;
  display: flex;
  flex: 1;
}

.content-field-value {
  padding: 5px;
  display: flex;
  flex: 1;
}

.content-field-value input {
  width: 100%;
}
