
<div class="decedent-box" [style.border-color]="color">

  <div class="name-box">
    <span class="label" [style.color]="color">Decedent Name:</span>
    <span class="value-name" [style.color]="textColor">{{decedentInformation?.fullName}}</span>
  </div>
  <div class="details-box">
    <div>
      <span class="label" [style.color]="color">Date/Time of Death:</span>
      <span class="value" [style.color]="textColor">{{decedentInformation?.deathDate}} | {{decedentInformation?.deathTime}}</span>
    </div>
    <div>
      <span class="label" [style.color]="color">MDI Case Number/System:</span>
      <span class="value" [style.color]="textColor">{{decedentInformation?.mdiCaseNumber?.value}} | {{decedentInformation?.mdiCaseNumber?.system}}</span>
    </div>
  </div>
</div>
