.import-case-container{
  display: flex;
  flex-direction: row;
}

.import-from-file {
  flex-basis: 75%;
  max-width: 75%;
  padding: 0 8px 8px 20px;
}

.import-from-template {
  flex-basis: 25%;
  max-width: 25%;
  padding: 0 20px 8px 8px;
}

mat-card {
  height: 100%;
}
