.response-container {
  margin-top: 1em;
  padding: 1em;
  min-height: 300px;
  max-height: 300px;
  border: #cdcdcd 1px solid;
  border-radius: 4px;
  overflow: auto;
}

.row {
  display: flex;  /* aligns all child elements (flex items) in a row */
  margin-bottom: 0.5em;
}

.col-left {
  flex: 30;        /* distributes space on the line equally among items */
}

.col-right {
  flex: 70;        /* distributes space on the line equally among items */
}
