<div class="case-summary-content-wrapper">
  <div class="section-button-wrapper">
    <span class="content-spacer"></span>
    <button mat-flat-button color="primary" (click)="accordion.openAll()">Expand All Sections</button>
    <button mat-flat-button color="primary" (click)="accordion.closeAll()">Collapse All Sections</button>
    <span class="content-spacer"></span>
  </div>
  <mat-accordion multi>
    <mat-expansion-panel class="summary-section" id="demographics" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Demographics</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="summary-section-body">
        <div class="summary-section-grid">
          <div class="grid-row">
            <div class="grid-col-1">
              <app-case-summary-content-field [label]="'Social Security Number'" [value]="(caseSummary$ | async)?.demographics.ssn" appSetFhirExplorer [title]="'subject'"></app-case-summary-content-field>
            </div>
            <div class="grid-col-1">
              (TODO: Other Identifiers Here)
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-col-1">
              <app-case-summary-content-field [label]="'Gender'" [value]="(caseSummary$ | async)?.demographics.gender" appSetFhirExplorer [title]="'subject'"></app-case-summary-content-field>
            </div>
            <div class="grid-col-1">
              <app-case-summary-content-field [label]="'Date of Birth'" [value]="(caseSummary$ | async)?.demographics.birthDate" appSetFhirExplorer [title]="'subject'"></app-case-summary-content-field>
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-col-1">
              <app-case-summary-content-field [label]="'Race'" [value]="(caseSummary$ | async)?.demographics.race" appSetFhirExplorer [title]="'subject'"></app-case-summary-content-field>
            </div>
            <div class="grid-col-1">
              <app-case-summary-content-field [label]="'Ethnicity'" [value]="(caseSummary$ | async)?.demographics.ethnicity" appSetFhirExplorer [title]="'subject'"></app-case-summary-content-field>
            </div>
          </div>
        </div>

        Aliases: (TODO: Implement Component for Alias Table)
        <table class="alias-table">
          <tr>
            <th>Given Name(s)</th>
            <th>Family Name</th>
            <th>Use</th>
            <th>Period</th>
          </tr>
          <tr *ngFor="let alias of (caseSummary$ | async)?.demographics.aliases;">
            <td>
              <span *ngFor="let givenName of alias.given;"> {{givenName}} </span>
            </td>
            <td>
              {{alias.family}}
            </td>
            <td>
              {{alias.use}}
            </td>
            <td>
              {{alias.period?.start || "Unknown"}} - {{alias.period?.end || "Unknown"}}
            </td>
          </tr>
        </table>
        Occupation History: (TODO: Implement Component for Occupation Table)
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="summary-section" id="circumstances" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Circumstances</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="summary-section-body">

        <div class="summary-section-grid">
          <div class="grid-row">
            <div class="grid-col-1">
              <app-case-summary-content-field [label]="'Death Location'" [value]="(caseSummary$ | async)?.circumstances.deathLocation" appSetFhirExplorer [title]="'deathLocation'"></app-case-summary-content-field>
            </div>
            <div class="grid-col-1">
              <app-case-summary-content-field [label]="'Injury/Event Occurred at Work'" [value]="(caseSummary$ | async)?.circumstances.workInjury" appSetFhirExplorer [profile]="'http://hl7.org/fhir/us/mdi/StructureDefinition/Observation-death-injury-at-work'"></app-case-summary-content-field>
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-col-1">
              <app-case-summary-content-field [label]="'Tobacco Use Contributed to Death'" [value]="(caseSummary$ | async)?.circumstances.tobaccoUseContributed" appSetFhirExplorer [profile]="'http://hl7.org/fhir/us/mdi/StructureDefinition/Observation-tobacco-use-contributed-to-death'"></app-case-summary-content-field>
            </div>
            <div class="grid-col-1">
              <app-case-summary-content-field [label]="'Decedent Pregnancy Status'" [value]="(caseSummary$ | async)?.circumstances.pregnancy" appSetFhirExplorer [profile]="'http://hl7.org/fhir/us/mdi/StructureDefinition/Observation-decedent-pregnancy'"></app-case-summary-content-field>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="summary-section" id="causeAndManner" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Cause and Manner of Death</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="summary-section-body">
        <div class="summary-section-grid">
          <div class="grid-row">
            <div class="grid-col-1">
              <app-case-summary-content-field [label]="'Manner of Death'" [value]="(caseSummary$ | async)?.causeAndManner.mannerOfDeath" appSetFhirExplorer [profile]="'http://hl7.org/fhir/us/mdi/StructureDefinition/Observation-manner-of-death'"></app-case-summary-content-field>
            </div>
            <div class="grid-col-1">
              <app-case-summary-content-field [label]="'How Death Injury Occurred'" [value]="(caseSummary$ | async)?.causeAndManner.howDeathInjuryOccurred" appSetFhirExplorer [profile]="'http://hl7.org/fhir/us/mdi/StructureDefinition/Observation-how-death-injury-occurred'"></app-case-summary-content-field>
            </div>
          </div>
        </div>

        Cause of Death Pathway: <br/>
        Conditions Contributing to Death: <br/>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="summary-section" id="medicalHistory">
      <mat-expansion-panel-header>
        <mat-panel-title>Relevant Medical History</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="summary-section-body">Not Yet Implemented</div>
    </mat-expansion-panel>
    <mat-expansion-panel class="summary-section" id="examAndAutopsy">
      <mat-expansion-panel-header>
        <mat-panel-title>Exam and Autopsy Notes</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="summary-section-body">Not Yet Implemented</div>
    </mat-expansion-panel>
    <mat-expansion-panel class="summary-section" id="narratives">
      <mat-expansion-panel-header>
        <mat-panel-title>Narratives</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="summary-section-body">Not Yet Implemented</div>
    </mat-expansion-panel>
    <mat-expansion-panel class="summary-section" id="deathCertificate">
      <mat-expansion-panel-header>
        <mat-panel-title>Death Certificate</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="summary-section-body">Not Yet Implemented</div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
