
/** Collapse/Expand Button Styling **/
.section-button-wrapper {
  display: flex;
}

button {
  margin: 5px;
}

/** Summary Section Styling **/

.summary-section {
  border: black 1px solid;
  box-shadow: 1px 1px 2px black;
}

.summary-section-body {
  padding: 5px;
}


/** Alias Table Styling **/
.alias-table {
  width: 100%;
  border: 1px black solid;
}
.alias-table th {
  text-decoration: underline;
}
.alias-table td {
  border: 1px black solid;
  padding: 5px;
}
