<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content style="margin-top: 1em; margin-bottom: 1em">
  <span [innerHTML]="content"></span>
</div>
<div mat-dialog-actions align="end">
  <span *ngIf="!isPrimaryButtonLeft">
    <button mat-stroked-button (click)="onSecondaryClick()">{{secondaryActionBtnTitle}}</button>
    <button mat-stroked-button color="primary" (click)="onDefaultClick()" cdkFocusInitial>{{primaryActionBtnTitle}}</button>
  </span>
  <span *ngIf="isPrimaryButtonLeft">
    <button mat-stroked-button  (click)="onDefaultClick()">{{primaryActionBtnTitle}}</button>
    <button mat-stroked-button (click)="onSecondaryClick()"cdkFocusInitial>{{secondaryActionBtnTitle}}</button>
  </span>
</div>
