<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Human Readbale">
    <div class="margin-top-md">
      <record-viewer-tox-to-mdi-viewer-content
        [currentModule]="'workflowSimulator'"
        [collapseAllSections]="true"
        [toxToMdiRecord]="selectedToxRecord()">
      </record-viewer-tox-to-mdi-viewer-content>
    </div>
  </mat-tab>
  <mat-tab label="JSON">
    <div class="margin-top-md">
      <app-simple-json-viewer [messageBundle]="selectedToxRecord()?.messageBundle"></app-simple-json-viewer>
    </div>
  </mat-tab>
</mat-tab-group>
