<mat-expansion-panel class="summary-section" id="name" [expanded]="false" #matExpansionPanel="matExpansionPanel">
  <mat-expansion-panel-header>

    <mat-panel-title>
      <mat-icon *ngIf="state=='valid'" class="valid-icon">done</mat-icon>
      <mat-icon *ngIf="state=='invalid'" class="invalid-icon">error</mat-icon>
      {{title}}
    </mat-panel-title>

  </mat-expansion-panel-header>
  <div class="summary-section-body">
    <div class="summary-section-grid">
      <div class="grid-row">
        <div class="grid-col-1">
          <div>Resource/Profile: {{resource}}</div>
        </div>
        <div class="grid-col-1">
          <div>FHIR Path: {{fhirPath}}</div>
        </div>
      </div>
    </div>
    <br>
    <div class="summary-section-grid">
      <div class="grid-row">
        <div class="grid-col-1">
          <div class={{state}}><input type="text" value="Expected" readonly></div>
        </div>
        <div class="grid-col-1">
          <div class={{state}}><input type="text" value="Actual" readonly></div>
        </div>
      </div>
      <br>
      <div class="grid-row">
        <div class="grid-col-1">
          <div class="border" [innerHTML]="difference"></div>
        </div>
        <div class="grid-col-1">
          <div class="border"><pre>{{expected}}</pre></div>
        </div>
      </div>
    </div>
  </div>
</mat-expansion-panel>
