<mat-expansion-panel class="summary-section" id="name" [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>{{title}}</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="summary-section-body">
    <div class="summary-section-grid">
      <div class="grid-row">
        <div class="grid-col-1">
          <div>Resource/Profile: {{resource}}</div>
        </div>
        <div class="grid-col-1">
          <div>FHIR Path: {{fhirPath}}</div>
        </div>
      </div>  
    </div>
    <br>
    <div class="summary-section-grid">
      <div class="grid-row">
        <div class="grid-col-1">
          <div [ngClass]="{'valid' : true,'invalid' : false}"><input type="text" value="Actual Value" readonly></div>
        </div>
        <div class="grid-col-1">
          <div [ngClass]="{'valid' : true,'invalid' : false}"><input type="text" value="Expected Value" readonly></div>
        </div>
        <div class="grid-col-1">
          <div [ngClass]="{'valid' : true,'invalid' : false}"><input type="text" value="Difference" readonly></div>
        </div>
      </div>
      <br>
      <div class="grid-row">
        <div class="grid-col-1">
          <div class="border"><pre>{{actual}}</pre></div>
        </div>
        <div class="grid-col-1">
          <div class="border"><pre>{{expected}}</pre></div>
        </div>
        <div class="grid-col-1">
          <div class="border" [innerHTML]="difference"></div>
        </div>
      </div>
    </div>
  </div>
</mat-expansion-panel>