@if (isLoading) {
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
}

@if (validatorTitle()) {
  <mat-card-header  id="validator-title">
    <mat-card-title>{{ validatorTitle() }}</mat-card-title>
  </mat-card-header>
}


<!-- The section below renders error messages returned by the validator.-->
@if (serverErrorDetected) {
  <div class=server-error-message-container>
    <button mat-button class="close-button" color="accent" aria-label="Close" disableRipple
      (click)="onCloseServerErrorMessage()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="server-error-status"><h2>Server Error Response Status: {{ serverErrorStatus }}</h2></div>
    @for (serverError of serverErrorList; track serverError) {
      <div class="server-error-message-text"
      [innerText]="serverError.diagnostics"></div>
    }
  </div>
}

<!-- TODO remove this code when the API code is updated to return 408 on request timeout -->
@if (serverTimoutDetected) {
  <div class=server-error-message-container>
    <button mat-button class="close-button" color="accent" aria-label="Close" disableRipple
      (click)="serverTimoutDetected = false">
      <mat-icon>close</mat-icon>
    </button>
    <div class="server-error-status"><h2>Server Timeout Error.</h2></div>
  </div>
}

<!--Actions available above the FHIR validator input textarea-->
<div class="row-button-wrapper">

  <!--Select JSON/XML radio group-->
  @if (validationInputFormat().format == 'xml and json') {
    <mat-radio-group [(ngModel)]="resourceFormat" [disabled]=isLoading aria-label="Select resource format">
      <mat-radio-button
        value="json"
        [checked]="resourceFormat =='json'"
        (select)="resourceFormat = 'json'">
        JSON
      </mat-radio-button>
      <mat-radio-button
        value="xml"
        [checked]="resourceFormat =='xml'"
        (select)="resourceFormat = 'xml'">
        XML
      </mat-radio-button>
    </mat-radio-group>
  }

  @if(igList()?.length > 1){
    <form [formGroup]="igSelectionFg">
    <mat-form-field appearance="outline" class="margin-left-md margin-top-md margin-right-md">
      <mat-label>Select IG Name</mat-label>
      <mat-select formControlName="selectedIgName">
        @for (igName of igNameList; track igName) {
          <mat-option [value]="igName">
            {{ igName }}
          </mat-option>
        }
      </mat-select>
      @if (igSelectionFg.controls?.['selectedIgName']?.errors?.required) {
        <mat-error>Select IG Name</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="margin-left-md margin-top-md margin-right-md">
      <mat-label>Select IG Version</mat-label>
      <mat-select [disabled]="!selectedIgName" formControlName="selectedIgVersion">
        @for (igVersion of igVersionDropdownList; track igVersion) {
          <mat-option [value]="igVersion">
            {{igVersion}}
          </mat-option>
        }
      </mat-select>
      @if (igSelectionFg.controls?.['selectedIgVersion']?.errors?.required) {
        <mat-error>Select IG Version</mat-error>
      }
    </mat-form-field>
    </form>
  }

  @if (validationInputFormat()?.format == 'xml and json') {
    <span class="content-spacer"></span>
  }

  <!--File upload widget-->
  <input type="file" class="file-input" (click)="fileUpload.value=null"
    [accept]="validationInputFormat()?.accepts?.toString()"
    (change)="onFileSelected($event)" #fileUpload
    aria-label="Select FHIR resource file to upload">

  @if (validationInputFormat().format == 'xml and json') {
    <span class="filename">{{fileName}}</span>
  }

  <button mat-raised-button [style.background-color]="buttonBackgroundColor()" [style.color]="buttonTxtColor()"
    class="upload-btn"
    (click)="clearUI(); fileUpload.click();" [disabled]=isLoading
    aria-label="Upload FHIR resource file">
    <mat-icon>upload</mat-icon>
    Upload
  </button>

  @if (!(validationInputFormat().format == 'xml and json')) {
    <span class="filename">{{fileName}}</span>
  }
</div>

<!-- FHIR validator text editor-->
<div class="textarea-wrapper">
  <div class="line-numbers" #numbers>
    @for (i of getLineNumbers(); track i) {
      <div class="numbers">{{i}}</div>
    }
  </div>
  <textarea
    #validatorInput
    rows="30"
    [ngModel]="fhirResource()"
    (ngModelChange)="fhirResource.set($event); onResourceContentChanged.emit($event)"
    [ngStyle]="{'border-color': (!!validationErrorStr && validationErrorStr != 'Please select an Implementation Guide') ? 'red': null }"
    (paste)="onPasteFhirResource($event)"
    [disabled]="isLoading"
    (input)="lineNumbers()"
    (scroll)="numbers.scrollTop = validatorInput.scrollTop"
    aria-label="FHIR Resource JSON or XML input"
    >
  </textarea>
</div>

<!--Actions available below the FHIR validator input textarea-->
@if (formatResourceBtnShown() || clearValidatorBtnShown() || submitBtnShown() || validationErrorStr) {
  <div class="row-button-wrapper">
    @if (submitBtnShown() && (submitBtnAlignment()=='left') && !isLoading) {
      <span>
        <button mat-raised-button [style.background-color]="buttonBackgroundColor()" [style.color]="buttonTxtColor()" class="button"
          (click)="validateFhirResource(fhirResource(), resourceFormat)"
          aria-label="Submit FHIR resource for validation">
          <mat-icon>send</mat-icon>
          Submit
        </button>
      </span>
    }
    @if (formatResourceBtnShown() && !isLoading) {
      <button [ngClass]="{'left-margin-spacer': submitBtnAlignment()=='left'}" mat-raised-button
        [style.background-color]="buttonBackgroundColor()" [style.color]="buttonTxtColor()"
        (click)="onFormatInput();"
        [disabled]="!fhirResource()"
        aria-label="Format FHIR resource input">
        <mat-icon>code</mat-icon>
        Format Input
      </button>
    }
    <span class="content-spacer"></span>
    @if (validationFinished) {
      <span id="error-response">
        @if (!!validationErrorStr && !isValidResource) {
          <span class="danger-color">{{validationErrorStr}}</span>
        }
        @if (isValidResource) {
          <span class="success-color"> This is a valid FHIR resource.</span>
        }
      </span>
    }
    <span class="content-spacer"></span>
    @if (clearValidatorBtnShown() && !isLoading) {
      <button
        mat-raised-button color="success" class="button"
        (click)="onClear()"
        aria-label="Clear validator input and results">
        <mat-icon>clear</mat-icon>
        Clear Validator
      </button>
    }
    @if (submitBtnShown() && (submitBtnAlignment() =='right') && !isLoading) {
      <span class="left-margin-spacer">
        <button mat-raised-button color="accent" class="button"
          (click)="validateFhirResource(fhirResource(), resourceFormat)"
          aria-label="Submit FHIR resource for validation">
          <mat-icon>send</mat-icon>
          {{ submitBtnTitle()}}
        </button>
      </span>
    }
  </div>
}

@if (isLoading && cancelValidationBtnShown()) {
  <div class="row-button-wrapper padding-top-md">
    <span class="content-spacer"></span>
    <button mat-raised-button color="warn" (click)="onCancelValidation()"
      aria-label="Cancel validation request">
      <mat-icon>cancel</mat-icon>
      Cancel Validation
    </button>
  </div>
}

<!-- Actions available after validator has processed data-->

@if (apiResponse()?.issue && !isLoading) {
  <div>
    <div class="padding-top-md">
      <div (click)="onFilterResults()">
        <mat-button-toggle-group name="severity level filter" [formControl]="severityLevelsFormControl"
          aria-label="Filter validation results by severity level" multiple class="full-width">
          @for (level of severityLevels; track level) {
            <mat-button-toggle
              id="format-toggle-buttons"
              [value]="level"
              [disabled]="!isFilterEnabled(level)">
              <!-- In order to synchronise the state of the button with the state of the checkbox, we simply show or hide
              selected or deselected checkbox.-->
              @if (severityLevelsFormControl?.value.indexOf(level) != -1) {
                <mat-checkbox
                  color="primary"
                  [checked]=true
                  [disabled]="!isFilterEnabled(level)"
                  [disableRipple]="true"
                  >
                </mat-checkbox>
              }
              @if (severityLevelsFormControl?.value.indexOf(level) === -1) {
                <mat-checkbox
                  color="primary"
                  [checked]=false
                  [disabled]="!isFilterEnabled(level)"
                  [disableRipple]="true"
                  >
                </mat-checkbox>
              }
              {{level | titlecase }} ({{getCount(level)}})
            </mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
      @if (validationResultsExpanded()) {
        <div class="padding-top-md box">
          @if (!localResultDetailsExpanded) {
            <button mat-raised-button color=primary (click)="localResultDetailsExpanded = true"
              aria-label="Expand validation results details">
              <mat-icon>expand_more</mat-icon> Expand Validation Results
            </button>
          }
          @if (localResultDetailsExpanded) {
            <button mat-raised-button color=primary (click)="localResultDetailsExpanded = false"
              aria-label="Collapse validation results details">
              <mat-icon>expand_less</mat-icon> Collapse Validation Results
            </button>
          }
          <span class="content-spacer"></span>
          @if (exportResultsButtonShown()) {
            <button mat-raised-button (click)="exportValidationResults()" color="accent"
              [disabled]="!(dataSource?.data?.length>0)"
              aria-label="Export validation results as zip file">
              <mat-icon>folder_zip</mat-icon>
              {{exportValidationResultsBtnName()}}
            </button>
          }
        </div>
      }
      @if (severityLevelsFormControl?.value?.length === 0) {
        <div>
          Please select severity level to see the result.
        </div>
      }
      @if ((!validationResultsExpanded()) && exportResultsButtonShown()) {
        <div class="padding-top-md box margin-bottom-md">
          <button mat-raised-button (click)="exportValidationResults()" color="accent"
            [disabled]="!(dataSource?.data?.length>0)" class="margin-left-md"
            aria-label="Export validation results as zip file">
            <mat-icon>folder_zip</mat-icon>
            {{exportValidationResultsBtnName()}}
          </button>
        </div>
      }
      @if (severityLevelsFormControl?.value?.length > 0 && localResultDetailsExpanded) {
        <table
          mat-table [dataSource]="dataSource" multiTemplateDataRows
          aria-label="FHIR validation results table"
          >
          <!-- First column contains expand/collapse widget. The user can chose to expand/collapse all rows,
          as well as expand/collapse individual rows. Note that the expand/collapse all can be toggled automatically
          based the state of the individual expand/collapse rows. For example if all rows are expanded and "expand all"
          is rendered, we automatically hide it end render "collapse all" -->
          <ng-container matColumnDef="toggle">
            <th mat-header-cell *matHeaderCellDef (click)="toggle()">
              @if (!allExpanded) {
                <mat-icon class="pointer" matTooltip="Expand All" aria-label="Expand all validation results">
                  expand_more
                </mat-icon>
              }
              @if (allExpanded) {
                <mat-icon class="pointer" matTooltip="Collapse All" aria-label="Collapse all validation results">
                  expand_less
                </mat-icon>
              }
            </th>
            <td mat-cell *matCellDef="let validationResultItem" class="pointer"
              (click)="validationResultItem.expanded = !validationResultItem.expanded; checkExpandCollapseAllStatus()">
              @if (!validationResultItem.expanded) {
                <mat-icon aria-label="Expand validation result details">
                  expand_more
                </mat-icon>
              }
              @if (validationResultItem.expanded) {
                <mat-icon aria-label="Collapse validation result details">
                  expand_less
                </mat-icon>
              }
            </td>
          </ng-container>
          <!-- Severity level icons -->
          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let validationResultItem">
              @if (validationResultItem.severity === 'Error') {
                <mat-icon
                  class="danger-color"
                  aria-label="Error severity">error
                </mat-icon>
              }
              @if (validationResultItem.severity === 'Warning') {
                <mat-icon
                  class="warning-color"
                  aria-label="Warning severity">warning
                </mat-icon>
              }
              @if (validationResultItem.severity === 'Information') {
                <mat-icon
                  class="success-color"
                  aria-label="Information severity">info
                </mat-icon>
              }
              @if (validationResultItem.severity === 'Note') {
                <mat-icon
                  class="md-primary-color"
                  aria-label="Note severity">edit_note
                </mat-icon>
              }
            </td>
          </ng-container>
          <!-- Severity level string -->
          <ng-container matColumnDef="severity">
            <th mat-header-cell *matHeaderCellDef>Severity</th>
            <td mat-cell *matCellDef="let validationResultItem">
              {{validationResultItem.severity}}
            </td>
          </ng-container>
          <!-- Severity level string -->
          <ng-container matColumnDef="fhirPath">
            <th mat-header-cell *matHeaderCellDef>FHIR path</th>
            <td mat-cell *matCellDef="let validationResultItem">
              {{validationResultItem?.expression?.[0]}}
            </td>
          </ng-container>
          <!-- The location as returned by the server. Note that the resource returned by the  response could be
          formatted differently then the request resource. What this means is the the line numbers in the response
          resource many not match those in the request.-->
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef id="location-column-header"> Location</th>
            <td mat-cell *matCellDef="let validationResultItem" (click)="onLocationSelected(validationResultItem)">
              <span class="location-data"> {{validationResultItem.location}}</span>
            </td>
          </ng-container>
          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let validationResultItem" [attr.colspan]="displayedColumns?.length">
              <div class="validation-result-detail"
                [@detailExpand]="validationResultItem.expanded ? 'expanded' : 'collapsed'">
                <div class="validation-result-text-value">
                  {{validationResultItem.diagnostics}}
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let validationResultItem; columns: displayedColumns;"
            class="table-row"
            [class.expanded-row]="validationResultItem.expanded">
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="text-value-row"></tr>
          </table>
        }
      </div>
      <!-- Resource as returned from the validator. Note that the resource returned from the validator may be
      formatted differently then the resource we sent to the validator. -->
      @if (localResultDetailsExpanded && apiResponse()?.formattedResource) {
        <div class="padding-top-md">
          <div class="line-numbers-response" #numbers>
            @for (item of apiResponse()?.formattedResource?.split('\n'); track item; let i = $index) {
              <div class="numbers-response">{{i + 1}}</div>
            }
          </div>
          <div class="validator-response">
            @for (item of apiResponse()?.formattedResource?.split('\n'); track item; let i = $index) {
              <span>
                <pre [ngClass]="getLineItemClass(item, i)" class="line-item" [id]="'mark'+ (i+1)">{{item}}</pre>
              </span>
            }
          </div>
        </div>
      }
    </div>
  }
