<mat-expansion-panel [expanded]="true">

  <mat-expansion-panel-header>
    <mat-panel-title class="panel-title">
      EDRS Search Parameters
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="searchEdrsForm" (ngSubmit)="onSubmit()">
    <div class="row" style="margin-top: 1em">
      <div class="col">
        <ng-container formArrayName="parameters">

          <ng-container *ngFor="let parametersFormControl of parameters.controls; let index = index">

            <div [formGroupName]="index">

              <mat-form-field appearance="outline">
                <mat-label>Parameter</mat-label>
                <mat-select formControlName="name">
                  <mat-option
                    *ngFor="let param of getFormControlParamTypes(index, parametersFormControl)"
                    [value]="param.value">
                    {{ param.display }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" style="margin-left: 1em">
                <input matInput id="valueString" type="text" formControlName="valueString"/>
              </mat-form-field>

              <button mat-icon-button style="margin-left: 1em" aria-label="Remove Filter" color="warn"
                      type="button"
                      matTooltip="Remove Parameter"
                      (click)="onDeleteFormParam(index)">
                <mat-icon>close</mat-icon>
              </button>

            </div>
          </ng-container>

        </ng-container>
        <button mat-raised-button type="button" color="success" (click)="addNewFilter()">
          <mat-icon>add</mat-icon>
          Add Parameter
        </button>
      </div>

      <div class="col">
        <div class="search-params-preview">
          <pre>{{getSearchParametersResourcePreview() | json}}</pre>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 1em;">
      <div><mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error></div>
      <div class="push-right">
        <span style="margin-left: 1em"><button type="button" mat-raised-button (click)="onClearSearch()">Clear Search</button></span>
        <span style="margin-left: 1em"><button type="submit" mat-raised-button color="primary">Search</button></span>
      </div>

    </div>

  </form>

</mat-expansion-panel>
