<div>
<!--  The data provided should be a valid FHIR MDI to EDRS Document Bundle. Please validate your resource prior to-->
<!--  using it in the workflow simulator or unexpected behavior may occur.-->
  {{ uiConstants.UPLOAD_FILE_CONTENT_MSG}}
</div>

<div>
  {{ uiConstants.UPLOAD_FILE_CONTENT_MSG }}
</div>

<div>
  <mat-error>{{errorMessage}}</mat-error>
</div>

<div>

  <button mat-raised-button color="primary" (click)="onInputMdiToEdrsBundle()">
    Input MDI to EDRS Document Bundle
  </button>

  <input type="file" class="file-input" (click)="fileUpload.value=null"
         accept=".json"
         (change)="onFileSelected($event)" #fileUpload>
  <button mat-raised-button color="success" class="upload-btn" (click)="fileUpload.click();">
    <mat-icon>post_add</mat-icon>
    Select File
  </button>

  <span id="filename">{{file?.name}}</span>
</div>
<div class="decedent-info">
  <div>
    {{ commonUIConstants.DECEDENT_NAME }}: {{decedentData?.name}}
  </div>
  <div>
    {{ commonUIConstants.DATE_TIME_OF_DEATH }}: {{decedentData?.dateTimeOfDeath | date}}
  </div>
  <div>
    {{ commonUIConstants.MDI_TRACKING_NUMBER }}: {{decedentData?.mdiTrackingNumber}}
  </div>
</div>
