<div>
  The data provided should be a valid FHIR MDI to EDRS Document Bundle. Please validate your resource prior to
  using it in the workflow simulator or unexpected behavior may occur.
</div>

<div>
  Click the "Input MDI to EDRS Document Bundle" button below to paste in your complete Document Bundle
  resource or click "Select File" to select a plain text (JSON) file from your local drive.
</div>

<div>
  <mat-error>{{errorMessage}}</mat-error>
</div>

<div>

  <button mat-raised-button color="primary" (click)="onInputMdiToEdrsBundle()">
    Input MDI to EDRS Document Bundle
  </button>

  <input type="file" class="file-input" (click)="fileUpload.value=null"
         accept=".json"
         (change)="onFileSelected($event)" #fileUpload>
  <button mat-raised-button color="success" class="upload-btn" (click)="fileUpload.click();">
    <mat-icon>post_add</mat-icon>
    Select File
  </button>

  <span id="filename">{{file?.name}}</span>
</div>
<div>
  <div>
    Decedent Name: {{decedentData?.name}}
  </div>
  <div>
    Date/Time of Death: {{decedentData?.dateTimeOfDeath | date}}
  </div>
  <div>
    MDI Tracking Number: {{decedentData?.mdiTrackingNumber}}
  </div>
</div>
