<div>
  1. Users may use the provided XLSX file as a template to create a set of test cases.
  This XLSX file may then be submitted to Raven, where it is then mapped to MDI FHIR records and posted to the Raven FHIR Server.
  To prevent the creation of duplicate records, existing records are overwritten.
  <div style="margin-left: 15px; margin-right: 15px; margin-top: 1rem">
    Contents must be a complete MDI Document Bundle or Toxicology Bundle.
    <div class="top-padding">
      <input type="file" class="file-input" (click)="fileUpload.value=null"
             accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
             (change)="onFileSelected($event)" #fileUpload>
      <div>
        <button mat-raised-button (click)="onDownloadTemplate();" style="margin-bottom: 1rem" [disabled]=isLoading>
          <mat-icon>file_download</mat-icon>
          Download Connectathon Template
        </button>
      </div>
      <div>
      <button mat-raised-button color="success" class="upload-btn"
              (click)="clearUI(); fileUpload.click();" [disabled]=isLoading>
        <mat-icon>upload_file</mat-icon>
        Select Connectathon Template
      </button>
      <span id="filename">{{file?.name}}</span>
      </div>
    </div>

  </div>

  <div class="top-padding">
    2. Submit your Bundle to the Raven FHIR Sever.
    <div style="margin-left: 15px; margin-top: 10px">
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="isLoading">
        <mat-icon>send</mat-icon>
        Submit
      </button>
    </div>
  </div>


  <div *ngIf="errorsGenerated" class="error-container">
    <div> Error: {{ error?.error?.error }} Status: {{ error?.status }} </div>
    <div> Error Message: {{ error?.error?.message }} </div>
  </div>

  <div class="top-padding">
    3. Review your record(s) below in a summary or as the generated FHIR Document.
    <div class="wrapper" *ngIf="isExportSuccessful">
      <div style="width:50%;">

        <table mat-table [dataSource]="dataSource" style="width: 95%;" class="mat-elevation-z1">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let case"> {{case.fhirResponse.name}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let case"> {{case.fhirResponse.status}} </td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State</th>
            <td mat-cell *matCellDef="let case"> {{case.fhirResponse.state}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selectedCase = row; scrollToTop(fhirBundle);"
              [ngClass]="{'selected-row': row == selectedCase}"
              style="cursor: pointer"
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell">No records loaded.</td>
          </tr>

        </table>

      </div>

      <div style="width: 50%">
        <mat-tab-group class="mat-elevation-z1">
          <mat-tab label="Mappings">
            <app-mappings [fhirBundle]="selectedCase"></app-mappings>
          </mat-tab>
          <mat-tab label="MDI FHIR Bundle">
            <div class="table-container" #fhirBundle>
              <div style="position:fixed; margin-left: 30rem; margin-top: 1.2rem">
                <button mat-stroked-button color="primary" (click)="onExpandFhirBundle()"
                        matTooltip="Expand the FHIR Bundle content"
                        aria-label="Expand the FHIR Bundle content">
                  <mat-icon>open_in_full</mat-icon>
                </button>
              </div>
              <div><pre> {{selectedCase?.fhirBundle | json}} </pre></div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

    </div>
  </div>
  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner [diameter]="70"></mat-spinner>
  </div>
</div>
