.search-results-grid{
  width: 100%;
  margin: 1em 0;
}

.selected-row {
  background-color: #E8EAF6;
}

.spinner-container {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 40%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
