<!-- TODO: Deprecated. Merge with registered module view as needed, then remove. -->
<div class="flex-container margin-top-md">
  <div class="column name header">Name</div>
  <div class="column description header">Description</div>
  <div class="column status header">Status</div>
  <div class="column action header"></div>
  <ng-container *ngFor="let module of workflowModules">
    <div class="column name">
      <div class="inner-content centered-content">
        {{module.displayName}}
      </div>
    </div>
    <div class="column description">
      <div class="inner-content">{{module.description}}</div>
    </div>
    <div class="column status">
      <div class="inner-content centered-content">{{module.status}}</div>
    </div>
    <div class="column action centered-content">
      <button mat-raised-button (click)="launchWorkflow(module)">LAUNCH</button>
    </div>
  </ng-container>
</div>
