<app-breadcrumb></app-breadcrumb>
@if (showHeader) {
  <div class="module-header" [style.background-color]="backgroundColor">
    <div class="module-header-icon-wrapper">
      <mat-icon class="module-header-icon" [svgIcon]="icon"></mat-icon>
    </div>
    <div class="module-header-label-wrapper">
      {{ moduleTitle }}
      @if (componentTitle) {
        <span>- {{ componentTitle }}</span>
      }
      <mat-divider class="module-header-underline"></mat-divider>
    </div>
  </div>
  {{ moduleTitle }} {{ componentTitle }}
}
