<div class="generic-component-wrapper">
  <div class="generic-component-content">

    <mat-card class="margin-bottom-lg">
      <mat-card-header>
        <mat-card-title>
          Step 1 - Select Toxicology Record
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <record-viewer-toxicology-grid [currentModule]="'workflowSimulator'" (onToxRecordSelected)="onToxRecordSelected($event)">
        </record-viewer-toxicology-grid>
      </mat-card-content>
    </mat-card>


    <mat-card class="margin-bottom-lg">
      <mat-card-header>
        <mat-card-title>
          Step 2 - Review Record
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if(!isLoadingData){
          @if(selectedToxRecord()){
            <tests-tox-record-details [selectedToxRecord]="selectedToxRecord()"></tests-tox-record-details>
          }
          @else {
            <em>No record Selected. Select a record from the grid above.</em>
          }
        }
        @else {
          <div class="loading">Loading Toxicology Record Details</div>
        }

      </mat-card-content>
    </mat-card>


    <mat-card class="margin-bottom-lg">
      <mat-card-header>
        <mat-card-title>
          Step 3 - Enter Submission Details
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-dcr-external-api-bundle-submission></app-dcr-external-api-bundle-submission>
      </mat-card-content>
    </mat-card>

  </div>
</div>
