<div class="generic-component-wrapper">
  <div class="generic-component-content">

    <mat-card class="margin-bottom-lg">
      <mat-card-header>
        <mat-card-title>
          Step 1 - Select Toxicology Record
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <record-viewer-toxicology-grid
          [currentModule]="'workflowSimulator'"
          (onToxRecordSelected)="onToxRecordSelected($event)">
        </record-viewer-toxicology-grid>
      </mat-card-content>
    </mat-card>


    <mat-card class="margin-bottom-lg">
      <mat-card-header>
        <mat-card-title>
          Step 2 - Review Record
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if(!isLoading()){
          @if(selectedToxRecord()){
            <tests-tox-record-details [selectedToxRecord]="selectedToxRecord()"></tests-tox-record-details>
          }
          @else if(selectedRecordDTO()){
            <div class="flex-row">
              <div class="margin-right-sm"><mat-icon class="warning-color">warning</mat-icon></div>
              <div class="warning-message">No tox data found for: {{selectedRecordDTO().lastName}}, {{selectedRecordDTO().firstName}}, MDI Case Number: {{ selectedRecordDTO().mdicasenumber}}</div>
            </div>
          }
          @else {
            <em>No record selected. Select a record from the grid above.</em>
          }
        }
        @else {
          <div class="loading">Loading Toxicology Record Details</div>
        }

      </mat-card-content>
    </mat-card>


    <mat-card class="margin-bottom-lg">
      <mat-card-header>
        <mat-card-title>
          Step 3 - Enter Submission Details
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-external-api-data-submission></app-external-api-data-submission>
      </mat-card-content>
    </mat-card>

  </div>
</div>
