<div class="test-container-wrapper" *ngIf="registrationDisplayItem; else loading">
  <div class="test-container-header">
    <div class="test-container-header-event-name">
      Event: {{ registrationDisplayItem.eventTitle }}
    </div>
    <div class="test-container-header-test-name">
      {{ registrationDisplayItem.testName }}
    </div>
    <div>
    </div>
  </div>
  <div class="test-container-body">
    <ng-container [ngSwitch]="registrationDisplayItem?.testCode">
      <app-onboarding *ngSwitchCase="'onboarding'"/>
      <app-search-edrs *ngSwitchCase="'search-edrs'" (onTestCompletedEvent)="onUpdateStatus($event)"/>
      <app-update-edrs *ngSwitchCase="'update-edrs'" (onTestCompletedEvent)="onUpdateStatus($event)"/>
    </ng-container>
  </div>
  <div class="test-container-footer">
    <div class="test-container-footer-return">
      <button color="primary" mat-flat-button (click)="onExitTest()">
        <mat-icon>arrow_back</mat-icon>
        Return to Event Modules
      </button>
    </div>
    <div class="test-container-footer-upload">
      <button color="primary" mat-flat-button (click)="openDocumentWidow()">
        <mat-icon>upload</mat-icon>
        Submit/View Documentation
      </button>
    </div>
    <div class="test-container-footer-status">
      Current Status: {{ registrationDisplayItem.testStatus }}
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="margin-md center-contents">
    <!-- TODO: Add error handling. -->
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>
