
  <div *ngIf="currentRegistration" class="event-module-status-table">
    <div class="event-header">
      {{currentEvent.title}}
    </div>

    <div class="event-row-header">
      <div class="event-row-header-cell">
        Test Name
      </div>
      <div class="event-row-header-cell">
        Description
      </div>
      <div class="event-row-header-cell">
        Status
      </div>
      <div class="event-row-header-cell">
      </div>
    </div>
    <div class="event-row" *ngFor="let item of currentRegistration.item">
      <div class="event-row-cell">
        {{item}}
      </div>
      <div class="event-row-cell">
        Description Pending
      </div>
      <div class="event-row-cell">
        {{item}}
      </div>
      <div class="event-row-cell-button">
        <button mat-flat-button (click)="loadTestContainer(item)">
          Launch
        </button>
      </div>
    </div>
    <div class="event-footer">
      (Placeholder) 1 of {{currentRegistration.item.length}} Complete
    </div>
  </div>



