$dark-grey-color: #646064;
$light-orange-color: #FFCC71;

.nav-wrapper{
  background-color: $dark-grey-color;
  height: 100%;
  width: 120px;
  color: whitesmoke;
  margin: 0;
  padding: 0 0;
  font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  >.menu{
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  >.main-item-wrapper {
    list-style: none;
    >.main-item {
      display: flex;
      align-items: center;
      padding: 24px 8px 4px 8px;
      height: 32px;
      font-size: medium;
      font-weight: 200;
      color: white;
    }
    >.sub-item-wrapper {
      padding: 0;
      list-style: none;
      >.sub-item {
        cursor: pointer;
        list-style: none;
        display: flex;
        align-items: center;
        padding: 4px 2px;
        margin-bottom: 8px;
        >.icon {
          padding: 4px;
          border-radius: 4px;
          min-height: 32px;
          min-width: 32px
        }
      }
      >.sub-item:hover {
        color: #FFCC71;
      }
    }
  }
}

.menu-text{
  margin-left: 4px;
  padding-right: 4px;
}

.selected-menu-item {
  background-color: $light-orange-color;
  color: $dark-grey-color;
}
