<div class="margin-top-md">
  <app-decedent-basic-info [decedentInfo]="decedentInfo"></app-decedent-basic-info>
</div>

<div class="double-top-margin">
  {{uiConstantsStep2.DISCLAIMER}}
</div>

<form [formGroup]="endpointConfigurationFormGroup" (ngSubmit)="onSubmitEndpointConfiguration()">

  <div class="double-top-margin">
    <mat-radio-group formControlName="inputType">
      @for (inputOption of endpointTypeOptions; track inputOption; let i = $index) {
        <mat-radio-button class="radio-button endpoint-radio-btns"
          [value]="inputOption">
          {{ inputOption }}
        </mat-radio-button>
      }
    </mat-radio-group>
  </div>

  <!-- Registered Endpoint -->
  @if (endpointConfigurationFormGroup.controls['inputType'].value == 'Registered Endpoint') {
    <div class="margin-top-md" formGroupName="registeredEndpoint">
      <mat-form-field appearance="outline" class="server-select">
        <mat-label>Select Endpoint</mat-label>
        <mat-select formControlName="serverEndpoint">
          @for (serverEndpoint of serverEndpointList; track serverEndpoint; let i = $index) {
            <mat-option
              [disabled]="i > 0"
              [value]="serverEndpoint.uri">
              {{ serverEndpoint.displayName }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if (endpointConfigurationFormGroup?.controls?.['registeredEndpoint']?.value?.serverEndpoint == blueJayUri) {
        <div class="simple-card">
          <div>Blue Jay is the public Raven Test EDRS.</div>
          <div>CREDENTIALS</div>
          <div>Username: <em>client</em> </div>
          <div>Password: <em>secret</em> </div>
        </div>
      }
      <div>
        <button class="view-item-button" type="button" mat-raised-button color="accent"
          (click)="onViewServerCapabilityStmt()">
          {{ uiConstantsStep2.VIEW_CAPABILITY_STMT_BTN }}
        </button>
      </div>
      <div class="margin-top-md">
        <button type="button" color="accent" class="view-item-button"
          (click)="onViewServerMdiDocs()"
          mat-raised-button>
          {{ uiConstantsStep2.VIEW_SERVER_$MDI_DOCS_OP_DEFINITION_BTN }}
        </button>
      </div>
    </div>
  }

  <!-- Custom Endpoint -->
  @if (endpointConfigurationFormGroup.controls['inputType'].value == 'Custom Endpoint') {
    <div formGroupName="customEndpoint">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Endpoint URL</mat-label>
          <input matInput formControlName="customEndpointUrl">
        </mat-form-field>
      </div>
      <div>
        <mat-radio-group formControlName="authenticationType">
          @for (authenticationType of authenticationOptions; track authenticationType) {
            <mat-radio-button class="radio-button"
              [value]="authenticationType">
              {{ authenticationType }}
            </mat-radio-button>
          }
        </mat-radio-group>
      </div>
      <!-- Basic Authentication -->
      @if (endpointConfigurationFormGroup.value?.['customEndpoint']?.['authenticationType'] == 'Basic') {
        <div formGroupName="userNamePassword">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
        </div>
      }
      <!-- Bearer Token Authentication -->
      @if (endpointConfigurationFormGroup.value?.['customEndpoint']?.['authenticationType'] == 'Bearer Token') {
        <div formGroupName="bearerToken">
          <mat-form-field appearance="outline">
            <mat-label>Bearer Token</mat-label>
            <textarea type="text" matInput formControlName="token"></textarea>
          </mat-form-field>
        </div>
      }
    </div>
  }

  <div class="padding-top-md padding-bottom-md row">
    <button mat-raised-button matStepperPrevious>Back</button>
    <div class="push-right">
      <button type="submit" mat-raised-button
        [style.background-color]="moduleConfig.backgroundColor"
        [style.color]="'white'" matStepperNext>
        {{ uiConstantsStep2.PROCEED_TO_NEXT_STEP_BTN }}
      </button>
    </div>
  </div>

</form>
