$primary-color: rgb(100, 96, 100);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; width: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root { display: flex; height: 100%; width: 100% }

/* Base SCSS Classes */
.full-screen { height: 100%; width: 100%; }

.flex {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  justify-content: stretch;
  > * {
    flex: 0 0 auto;
  }
}

.flex-col { @extend .flex; flex-direction: column; }
.flex-row { @extend .flex; flex-direction: row; }
.flex-col-simple { display: flex; flex-direction: column; }
.flex-row-simple { display: flex; flex-direction: row; }

.page-wrapper {
  @extend .flex;
  @extend .full-screen;
  flex: 1;
}

.app-content-wrapper {
  @extend .flex-col;
  @extend .full-screen;
  flex: 1;
}

.app-content-header-wrapper {
  flex: 0;
}

.component-wrapper {
  @extend .flex-col;
  flex: 1;
}

.app-content-body-wrapper {
  @extend .flex-col;
  flex: 1;
  > * {
    @extend .component-wrapper;
  }
  > .app-patient-summary-header, router-outlet {
    flex: 0 0 auto;
  }
  > router-outlet {
    margin: 0;
  }
}

.flex-wrapper {
  @extend .flex-col;
  flex: 1;
}
.scrollable { overflow-y: scroll; scroll-behavior: smooth; }
.pointer { cursor: pointer; }

/* Margin Wrappers */
.margin-sm { margin: 8px; }
.margin-md { margin: 16px; }
.margin-lg { margin: 24px; }
.padding-sm { padding: 8px; }
.padding-md { padding: 16px; }
.padding-lg { padding: 24px; }

.margin-bottom-md { margin-bottom: 16px; }

.top-padding { padding-top: 16px; }
.top-margin { margin-top: 16px; }

/* END BASE CLASSES */

/*This is bootstrap-like container, and we can change the media queries as needed one day*/
.container {
  margin: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.content-spacer{flex: 1 1 auto;}

/*Adding some green buttons. We may have to change the color if we don't like it*/
.mat-button.mat-success {
  color: #28a745;
}

.mat-raised-button.mat-success, .mat-flat-button.mat-success{
  background-color: #28a745;
  color: white;
}

.mat-form-field-appearance-outline.mat-success .mat-form-field-outline.mat-success{
  color: #28a745;
}

.success-color{ color: #28a745; }
.danger-color{ color: #dc3549; }
.warning-color{ color: #ffc107; }
.md-primary-color{ color: #3F51B5; }
.md-accent-color{ color: #FF4081; }
.warning-mark { background-color: #fff2cc; }
.error-mark { background-color: #ffcccc; }
.info-mark { background-color: #dcedc8; }
.note-mark { background-color: #e3f2fd; }

.diff-added-color{ background: #fff59d; }
.diff-removed-color{ background: #ffcdd2; }
/* Color Shades */

/** SnackBar Overrides **/
.mat-snack-bar-container { margin-top: 10em !important; }
.mat-simple-snackbar { color: whitesmoke !important; }

.file-input { display: none; }

.push-right {
  margin-left: auto;
}

/**
MOVED FROM CASE SUMMARY TO USE WITH TOX AS WELL
TODO: Refactor to generalize class names and move to a common shared .css file.
**/

/** Collapse/Expand Button Styling **/
.section-button-wrapper {
  @extend .flex;
  margin-bottom: 16px;
}

//button {
//  margin: 5px;
//}

/** Summary Section Styling **/

.summary-section {
  border: black 1px solid;
  box-shadow: 1px 1px 2px black;
}

.summary-section-body {
  padding: 5px;
}

.summary-section-grid .grid-row {
  @extend .flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.summary-section-grid .grid-col-1 {
  @extend .flex-col;
  flex: 1;
  padding-left: 10px;
}

.summary-section-grid .grid-col-2 {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.summary-section-grid .grid-col-6 {
  display: flex;
  flex-direction: column;
  flex: 6;
}

.mat-form-field {
  margin-left: 10px;
}

.full-width {
  width: 100%;
}

.box {
  display: flex;
}


/** Alias Table Styling **/
.alias-table {
  width: 100%;
  border: 1px black solid;
}
.alias-table th {
  text-decoration: underline;
}
.alias-table td {
  border: 1px black solid;
  padding: 5px;
}

.viewer-header-label {
  margin: 5px;
  font-size: medium;
}
.viewer-header-title {
  text-decoration: underline;
  padding: 10px;
}

.explorer-header-instructions {
  font-size: small;
}

/* Basic row and col classes*/
.row {
  @extend .flex;  /* aligns all child elements (flex items) in a row */
}

.col {
  flex: 1;        /* distributes space on the line equally among items */
}

.grid-row {
  cursor: pointer;
}

/** Record Viewer Container **/
.viewer-container-wrapper {
  @extend .full-screen;
  @extend .flex-col-simple;
  flex: 1;
  align-content: stretch;
  align-items: stretch;
  overflow-y: hidden;
  > .viewer-container-header {
    margin-left: 16px;
    margin-right: 16px;
  }
  > .viewer-container-body {
    @extend .padding-md;
    @extend .flex-row-simple;
    flex: 1;
    scroll-behavior: smooth;
    overflow-y: hidden;
    align-content: stretch;
    align-items: stretch;
    > * {
      @extend .scrollable;
      scroll-behavior: smooth;
      overflow-y: scroll;
    }
    > .viewer-container-body-content {
      flex: 1;
    }
    > .viewer-container-body-fhir-explorer {
      width: 30%;
      > .fhir-explorer-header {
        @extend .center-contents;
        @extend .flex-row-simple;
        @extend .padding-sm;
        font-weight: bold;
        font-size: larger;
        > * {
          @extend .center-contents;
        }
      }
    }
    > .viewer-container-body-tabs {
      overflow-y: hidden;
      > * {
        @extend .pointer;
        @extend .padding-sm;
        writing-mode: vertical-rl;
        margin: 0 0 4px;
        color: white;
        font-weight: bold;
        font-variant-caps: all-petite-caps;
        background-color: $primary-color;
        border-radius: 5px 0 0 5px;
      }
    }
  }
}

/** Workflow Simulator Test Container **/
.test-container-bar {
  @extend .flex-row;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  margin: 0;
  padding: 0;
  > * {
    flex: 1;
  }
}

.center-contents {
  justify-items: center;
  text-align: center;
  align-self: center;
}

.test-container-wrapper {
  @extend .margin-bottom-md;
  @extend .full-screen;
  @extend .flex-col-simple;
  flex: 1;
  align-content: stretch;
  align-items: stretch;
  overflow-y: hidden;
  > .test-container-body {
    @extend .padding-md;
    @extend .scrollable;
    border-left: 1px solid rgb(100, 96, 100);
    border-right: 1px solid rgb(100, 96, 100);
  }
  > .test-container-header {
    @extend .padding-md;
    @extend .test-container-bar;
    border-bottom: 2px solid rgb(100, 96, 100);
    > * {
      @extend .center-contents;
    }
    > .test-container-header-event-name {
      font-size: larger;
    }
    > .test-container-header-test-name {
      font-size: x-large;
    }
  }
  > .test-container-footer {
    @extend .padding-md;
    @extend .test-container-bar;
    border-top: 2px solid rgb(100, 96, 100);
    > * {
      @extend .center-contents;
    }
    > .test-container-footer-status {
      font-size: larger;
    }
  }
}
