/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*This is bootstrap-like container, and we can change the media queries as needed one day*/
.container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.top-spacer{
  padding-top: 15px;
}

/*Adding some green buttons. We may have to change the color if we don't like it*/
.mat-button.mat-success {
  color: #28a745;
}

.mat-raised-button.mat-success, .mat-flat-button.mat-success{
  background-color: #28a745;
  color: white;
}

.mat-form-field-appearance-outline.mat-success .mat-form-field-outline.mat-success{
  color: #28a745;
}

.success-color{
  color: #28a745;
}

.danger-color{
  color: #dc3549;
}

.warning-color{
  color: #ffc107;
}

.md-primary-color{
  color: #3F51B5
}

.md-accent-color{
  color: #FF4081
}

.pointer {cursor: pointer;}

.content-spacer{
  flex: 1 1 auto;
}

.warning-mark {
  background-color: #fff2cc;
}

.error-mark {
  background-color: #ffcccc;
}

.info-mark {
  background-color: #dcedc8;
}

.note-mark {
  background-color: #e3f2fd;
}

/* Color Shades */
.primary-light {
  background-color: #9fa8da;
}

.mat-snack-bar-container {
  margin-top: 10em !important;
}

.mat-simple-snackbar {
  color: whitesmoke !important;
}

.file-input {
  display: none;
}

.diff-added-color{
  background: green;
}

.diff-removed-color{
  background: red;
}
