/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.page-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}
.flex-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
.content-wrapper {
  margin: 20px;
}

/*This is bootstrap-like container, and we can change the media queries as needed one day*/
.container {
  margin: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.top-padding {
  padding-top: 16px;
}

.top-margin {
  margin-top: 16px;
}

/*Adding some green buttons. We may have to change the color if we don't like it*/
.mat-button.mat-success {
  color: #28a745;
}

.mat-raised-button.mat-success, .mat-flat-button.mat-success{
  background-color: #28a745;
  color: white;
}

.mat-form-field-appearance-outline.mat-success .mat-form-field-outline.mat-success{
  color: #28a745;
}

.success-color{
  color: #28a745;
}

.danger-color{
  color: #dc3549;
}

.warning-color{
  color: #ffc107;
}

.md-primary-color{
  color: #3F51B5
}

.md-accent-color{
  color: #FF4081
}

.pointer {
  cursor: pointer;
}

.content-spacer{
  flex: 1 1 auto;
}

.warning-mark {
  background-color: #fff2cc;
}

.error-mark {
  background-color: #ffcccc;
}

.info-mark {
  background-color: #dcedc8;
}

.note-mark {
  background-color: #e3f2fd;
}

/* Color Shades */
.header-gray {
  background-color: #646064;
  color: #fff;
}

.header-mint {
  background-color: #ABEBD2;
}
.header-orange {
  background-color: #ffd2a6;
}
.primary-light {
  background-color: #9fa8da;
}

.primary-lighter {
  background-color: #bfc8fa;
}

.mat-snack-bar-container {
  margin-top: 10em !important;
}

.mat-simple-snackbar {
  color: whitesmoke !important;
}

.file-input {
  display: none;
}

.diff-added-color{
  background: #fff59d;
}

.diff-removed-color{
  background: #ffcdd2;
}

.push-right {
  margin-left: auto;
}



/**
MOVED FROM CASE SUMMARY TO USE WITH TOX AS WELL
TODO: Refactor to generalize class names and move to a common shared .css file.
**/

/** Collapse/Expand Button Styling **/
.section-button-wrapper {
  display: flex;
  margin-bottom: 16px;
}

button {
  margin: 5px;
}

/** Summary Section Styling **/

.summary-section {
  border: black 1px solid;
  box-shadow: 1px 1px 2px black;
}

.summary-section-body {
  padding: 5px;
}

.case-summary-content-wrapper {
  padding: 20px;
}

.summary-section-grid .grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.summary-section-grid .grid-col-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 10px;
}

.summary-section-grid .grid-col-2 {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.summary-section-grid .grid-col-6 {
  display: flex;
  flex-direction: column;
  flex: 6;
}

.mat-form-field {
  margin-left: 10px;
}

/** Alias Table Styling **/
.alias-table {
  width: 100%;
  border: 1px black solid;
}
.alias-table th {
  text-decoration: underline;
}
.alias-table td {
  border: 1px black solid;
  padding: 5px;
}

.viewer-header-label {
  margin: 5px;
  font-size: medium;
}
.viewer-header-title {
  text-decoration: underline;
  padding: 10px;
}

.explorer-header-instructions {
  font-size: small;
}

/* Basic row and col classes*/
.row {
  display: flex;  /* aligns all child elements (flex items) in a row */
}

.col {
  flex: 1;        /* distributes space on the line equally among items */
}

.grid-row {
  cursor: pointer;
}

/** User Profile **/
.user-profile-header {
  height: 64px;
  background-color: #5F6368;
  color: white;
  display: flex;
  flex-direction: row;
  > * {
    justify-self: center;
    align-self: center;
    padding: 8px;
  }
}
.profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  border: 0 solid black;
}
.profile-image-lg {
  @extend .profile-image;
  width: 64px;
  height: 64px;
}
.login-button {
  margin-right: 8px;
}
.user-card {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-radius: 5px;
  > .details {
    margin-left: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > * {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 20px;
    }
    > .name {
      font-weight: bold;
      font-size: small;
    }
    > .email {
      font-size: x-small;
      font-style: italic;
    }
  }
}


//.user-profile-header-name-container {
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  justify-items: center;
//  > * {
//    min-width: 0;
//  }
//  > .user-profile-header-name-label {
//    font-style: italic;
//    text-align: end;
//    white-space: nowrap;
//    overflow: hidden;
//    text-overflow: ellipsis;
//  }
//  > .user-profile-header-name-text {
//    white-space: nowrap;
//    overflow: hidden;
//    text-overflow: ellipsis;
//    text-align: end;
//  }
//}
