<div class="viewer-container-wrapper" *ngIf="toxToMdiRecord; else loading;">
  <div class="viewer-container-header">
    <app-decedent-display appSetFhirExplorer [resource]="toxToMdiRecord?.messageBundle"
                          [decedentInformation]="toxToMdiRecord?.toxHeader" [type]="'tox'">
    </app-decedent-display>
  </div>
  <div class="viewer-container-body">
<!--    <record-viewer-mdi-to-edrs-viewer-nav-menu>-->
<!--    </record-viewer-mdi-to-edrs-viewer-nav-menu>-->
<!--    <record-viewer-mdi-to-edrs-viewer-content-->
<!--      class="viewer-container-body-content"-->
<!--      [mdiToEdrsRecord]="mdiToEdrsRecord"-->
<!--    ></record-viewer-mdi-to-edrs-viewer-content>-->

    <div class="viewer-container-body-fhir-explorer" [hidden]="drawerCollapsed">
      <div class="fhir-explorer-header">
        <span class="explorer-header-title">
          FHIR Explorer
        </span>
        <span class="content-spacer"></span>
        <mat-icon (click)="setDrawerWidth('30%'); drawerCollapsed=true;"
                  aria-label="Close FHIR explorer"
                  matTooltip="Close FHIR Explorer"
                  class="pointer">
          close
        </mat-icon>
      </div>
      <div class="fhir-explorer-body">
        <app-fhir-explorer></app-fhir-explorer>
      </div>
    </div>
    <div class="viewer-container-body-tabs">
      <div (click)="drawerCollapsed=!drawerCollapsed;"
           class="hl7-fhir-logo-tab">
        <img src="assets/icon-fhir-32.png" class="fhir-explorer-icon">
        <span class="fhir-explorer-label">FHIR Explorer</span>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="margin-md center-contents">
    <!-- TODO: Add error handling. -->
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>
