<h2 mat-dialog-title>Upload Document</h2>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <input type="file" (click)="fileUpload.value=null"
         (change)="onFileSelected($event)" #fileUpload [style.display]="'none'"
         accept=".pdf, .zip, .png, .gif, .jpg, .xlsx, .xls, .csv">
  <button mat-raised-button
          [style.background-color]="config.backgroundColor"
          [style.color]="'white'"
          (click)="fileUpload.click();"
          aria-label="Select File">
    <mat-icon>folder_open</mat-icon>
    Select File
  </button>
  <span class="file-name" [innerText]="fileName"></span>
</mat-dialog-actions>

<mat-divider></mat-divider>

<mat-dialog-content>
  <div class="preview-bounding-box">
    <img [src]="preview" *ngIf="preview" class="image-preview"/>
    <span *ngIf="!preview">Select a File to Preview</span>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button
          [style.background-color]="config.backgroundColor"
          [style.color]="'white'"
          (click)="onClickUpload();"
          [disabled]="!file">
    <mat-icon>file_upload</mat-icon>
    Upload
  </button>
</mat-dialog-actions>

