<app-decedent-display appSetFhirExplorer [resource]="documentBundle$ | async"
  [decedentInformation]="caseHeader$ | async" [type]="'mdi'"
></app-decedent-display>

<div class="margin-md">
  <mat-tab-group mat-stretch-tabs="false">
    <mat-tab label="Document Summary View">
      <ng-template matTabLabel>
        <mat-icon svgIcon="clinical_notes"></mat-icon>&nbsp;Document Summary View
      </ng-template>
      <ng-template matTabContent>
        <div [style.height]="'16px'"></div>
        <mat-drawer-container>
          <mat-drawer mode="side" opened [style.background-color]="config.backgroundColor" [style.border-radius]="'5px'">
            <mat-nav-list aria-label="MDI to EDRS Document Navigation">
              <div>
                <button mat-flat-button (click)="onItemClick('caseAdminInfo')" [style.color]="appConfig.contrastColor" [style.background-color]="config.backgroundColor">
                  <mat-icon aria-hidden="true"> info </mat-icon> Case Administration
                </button>
              </div>
              <div>
                <button mat-flat-button (click)="onItemClick('demographics')" [style.color]="appConfig.contrastColor" [style.background-color]="config.backgroundColor">
                  <mat-icon aria-hidden="true"> person </mat-icon> Demographics
                </button>
              </div>
              <div>
                <button mat-flat-button (click)="onItemClick('circumstances')" [style.color]="appConfig.contrastColor" [style.background-color]="config.backgroundColor">
                  <mat-icon aria-hidden="true"> travel_explore </mat-icon> Circumstances
                </button>
              </div>
              <div>
                <button mat-flat-button (click)="onItemClick('jurisdiction')" [style.color]="appConfig.contrastColor" [style.background-color]="config.backgroundColor">
                  <mat-icon aria-hidden="true"> gavel </mat-icon> Jurisdiction
                </button>
              </div>
              <div>
                <button mat-flat-button (click)="onItemClick('causeAndManner')" [style.color]="appConfig.contrastColor" [style.background-color]="config.backgroundColor">
                  <mat-icon aria-hidden="true"> question_mark </mat-icon> Cause/Manner
                </button>
              </div>
              <div>
                <button mat-flat-button (click)="onItemClick('medicalHistory')" [style.color]="appConfig.contrastColor" [style.background-color]="config.backgroundColor">
                  <mat-icon aria-hidden="true"> medical_services </mat-icon> Medical History
                </button>
              </div>
              <div>
                <button mat-flat-button (click)="onItemClick('examAndAutopsy')" [style.color]="appConfig.contrastColor" [style.background-color]="config.backgroundColor">
                  <mat-icon aria-hidden="true"> description </mat-icon> Exam and Autopsy
                </button>
              </div>
              <div>
                <button mat-flat-button (click)="onItemClick('narratives')" [style.color]="appConfig.contrastColor" [style.background-color]="config.backgroundColor">
                  <mat-icon aria-hidden="true"> speaker_notes </mat-icon> Narratives
                </button>
              </div>

            </mat-nav-list>
          </mat-drawer>
          <mat-drawer-content>
            <record-viewer-case-summary-content
              [caseHeader$]="caseHeader$"
              [caseSummary$]="caseSummary$"
              [compositionId]="compositionId"
              [documentBundle]="documentBundle$ | async"
            ></record-viewer-case-summary-content>
          </mat-drawer-content>
        </mat-drawer-container>


      </ng-template>
    </mat-tab>
    <mat-tab [label]="'Related ' + appConfig?.workflowTitles?.['toxToMdi'] + 's'">
      <ng-template matTabLabel>
        <mat-icon svgIcon="lab_panel"></mat-icon>&nbsp;Related {{appConfig?.workflowTitles?.['toxToMdi']}}s
      </ng-template>
      <ng-template matTabContent>
        <record-viewer-case-summary-related-tox [toxicologyRecordList]="toxicologyRecordList"></record-viewer-case-summary-related-tox>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
