<mat-card style="margin-bottom: 16px">
  <mat-card-content>
    <mat-card-title style="padding: 0px 16px">
      Configure Server Connection
    </mat-card-title>
    <div class="row">
      <div class="col" style="padding: 16px 16px">
        <form [formGroup]="onboardingForm" #form=ngForm (ngSubmit)="onSubmit()">

          <!-- Connection Type -->
          <div>
            <mat-form-field appearance="outline" class="full-width mat-form-field-no-padding">
              <mat-label>Connection Type</mat-label>
              <mat-select formControlName="connectionType" (selectionChange)="onConnectionTypeSelected()"
                          [(value)]="selectedConnectionType" required>
                <mat-option *ngFor="let connectionType of ConnectionTypeOptionsArray" [value]="connectionType">
                  {{connectionType.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Request Type -->
          <div class="box">
            <mat-form-field appearance="outline" style="max-width: 20%">
              <mat-label>Request</mat-label>
              <mat-select formControlName="requestType" (selectionChange)="onRequestTypeSelected()" required>
                <mat-option *ngFor="let requestType of RequestTypeOptions" [value]="requestType">
                  {{ requestType }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="push-right" style="max-width: 100%; min-width: 75%">
              <mat-label>Endpoint URL</mat-label>
              <input type="text" matInput formControlName="endpointUrl">
              <mat-error *ngIf="onboardingForm?.controls?.['endpointUrl']?.errors?.['required']">
                Endpoint URL is required
              </mat-error>
            </mat-form-field>

          </div>

          <!-- Token -->
          <div *ngIf="onboardingForm.controls['token']">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Token</mat-label>
              <textarea type="text" matInput formControlName="token" rows="10"></textarea>
              <mat-error *ngIf="onboardingForm?.controls?.['token']?.errors?.['required']">
                Token is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Username -->
          <div class="box">
            <mat-form-field appearance="outline" *ngIf="onboardingForm.controls['user']" style="width: 45%">
              <mat-label>User</mat-label>
              <input type="text" matInput formControlName="user">
              <mat-error *ngIf="onboardingForm?.controls?.['user']?.errors?.['required']">
                Username is required
              </mat-error>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field appearance="outline" *ngIf="onboardingForm.controls['password']" class="push-right"
                            style="width: 45%">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password">
              <mat-error *ngIf="onboardingForm?.controls?.['password']?.errors?.['required']">
                Password is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Header Params -->
          <div>
            <div>
              <mat-checkbox formControlName="customizeHeaders" (change)="onCustomizeHeadersSelectionChange()">
                Customize Headers
              </mat-checkbox>
            </div>
          </div>
          <ng-container *ngIf="onboardingForm.controls['headerParameters']" formArrayName="headerParameters">

            <ng-container *ngFor="let headerParam of headerParams.controls; let index = index">

              <div [formGroupName]="index" class="box">

                <mat-form-field appearance="outline" style="width: 40%">
                  <mat-label>Key</mat-label>
                  <input matInput type="text" formControlName="key"/>
                </mat-form-field>

                <mat-form-field appearance="outline" class="push-right" style="width: 40%">
                  <mat-label>Value</mat-label>
                  <input matInput type="text" formControlName="value"/>
                </mat-form-field>

                <button mat-icon-button style="margin-left: 1em" aria-label="Remove Key Value" color="warn"
                        type="button"
                        matTooltip="Remove Parameter"
                        (click)="onDeleteHeaderParam(index)">
                  <mat-icon>close</mat-icon>
                </button>

              </div>
            </ng-container>
            <button *ngIf="onboardingForm.controls['customizeHeaders']?.value === true" type="button"
                    mat-flat-button aria-label="Add Header Params" color="primary" (click)="addHeaderParam()">
              <mat-icon>add</mat-icon>
              Add Header Params
            </button>
          </ng-container>
          <!-- End Header Params -->

          <mat-divider class="top-margin"></mat-divider>

          <!-- Query Params -->
          <div>
            <div>
              <mat-checkbox formControlName="addQueryParams" (change)="onAddQueryParamsSelectionChange()">Add Query
                Params
              </mat-checkbox>
            </div>
          </div>
          <ng-container *ngIf="onboardingForm.controls['queryParameters']" formArrayName="queryParameters">

            <ng-container *ngFor="let queryParams of queryParams.controls; let index = index">

              <div [formGroupName]="index" class="box">

                <mat-form-field appearance="outline" style="width: 40%">
                  <mat-label>Key</mat-label>
                  <input matInput type="text" formControlName="key"/>
                </mat-form-field>

                <mat-form-field appearance="outline" class="push-right" style="width: 40%">
                  <mat-label>Value</mat-label>
                  <input matInput type="text" formControlName="value"/>
                </mat-form-field>

                <button mat-icon-button style="margin-left: 1em" aria-label="Remove Key Value" color="warn"
                        type="button"
                        matTooltip="Remove Parameter"
                        (click)="onDeleteQueryParam(index)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </ng-container>

            <button *ngIf="onboardingForm.controls['addQueryParams']?.value === true" type="button"
                    mat-flat-button aria-label="Add Query Params" color="primary" (click)="addQueryParam()">
              <mat-icon>add</mat-icon>
              Add Query Params
            </button>
          </ng-container>
          <!-- End Query Params -->

          <mat-divider class="top-margin"></mat-divider>

          <!-- Request Body -->
          <div>
            <div>
              <mat-checkbox formControlName="addRequestBody" (change)="onAddRequestBody()">
                Add Request/Modify Body
              </mat-checkbox>
            </div>
          </div>
          <div *ngIf="onboardingForm.controls['requestBody']">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Request Body</mat-label>
              <textarea type="text" matInput formControlName="requestBody" rows="10"></textarea>
            </mat-form-field>
          </div>
          <!-- End Request Body -->
          <div>
            <button mat-raised-button aria-label="Test Connection" color="primary" type="submit"
                    (click)="onTestConnection()">
              <mat-icon>lan</mat-icon>
              Test Connection
            </button>
            <span *ngIf="renderRemoveButton">
              <button mat-raised-button type="button" color="warn" (click)="removeConnection.emit()">
                <mat-icon>remove</mat-icon>
                Remove Connection
              </button>
            </span>
          </div>
        </form>

      </div>
      <div class="col" style="padding: 0 16px">
        <mat-tab-group class="top-margin">
          <mat-tab label="HTTP Response">
            <pre> {{ onboardingForm.value | json }} </pre>
          </mat-tab>
          <mat-tab label="Second"> Content 2</mat-tab>
          <mat-tab label="Third"> Content 3</mat-tab>
        </mat-tab-group>
      </div>
      <!-- End Query Params -->
    </div>
  </mat-card-content>
</mat-card>
