.row {
  display: flex;  /* aligns all child elements (flex items) in a row */
}

.col-left {
  flex: 80;        /* distributes space on the line equally among items */
}

.col-right {
  flex: 20;        /* distributes space on the line equally among items */
}

.loading-ellipsis::after {
  display: inline-block;
  animation: ellipsis 1.2s infinite steps(4, end);
  content: "...";
  width: 1.5em; /* Prevents text from shifting */
  text-align: left;
}

@keyframes ellipsis {
  0% { content: ""; }
  25% { content: "."; }
  50% { content: ".."; }
  75% { content: "..."; }
  100% { content: ""; }
}


.explorer-header-text {
  font-weight: bold;
  padding: 5px;
}
