<mat-drawer-container hasBackdrop=false>
  <mat-drawer #drawer
              class="drawer"
              [mode]="drawerMode"
              draggable="true"
              position="end"
              [ngStyle]="{'width': drawerWidth}">
    <mat-toolbar class="header">
      <mat-icon (click)="setDrawerWidth('60%');" aria-label="Expand the fhir explorer"
                style="cursor: pointer" matTooltip="Expand the FHIR Explorer">
        chevron_left
      </mat-icon>
      <mat-icon (click)="setDrawerWidth('30%');" aria-label="Collapse the fhir explorer"
                style="cursor: pointer" matTooltip="Collapse the FHIR Explorer">
        chevron_right
      </mat-icon>
      <span class="content-spacer"></span>
      <mat-icon (click)="setDrawerWidth('30%'); drawer.close()" aria-label="Close the fhir explorer"
                style="cursor: pointer" matTooltip="Close the FHIR Explorer">
        close
      </mat-icon>
    </mat-toolbar>

    <div class="main contents">
      <app-fhir-explorer></app-fhir-explorer>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <app-case-summary></app-case-summary>
  </mat-drawer-content>

</mat-drawer-container>
