<div class="margin-top-md">
  <h3>1. Select an MDI FHIR Bundle (JSON)</h3>
</div>
<p>You may select a local JSON file or paste the JSON directly into the provided area below.</p>
<p><b> Warning:</b> To prevent the creation of duplicate records, existing records are overwritten.</p>
<div class="content-offset">
  <lib-ngx-fhir-validator
    [formatResourceBtnShown]="false"
    [resultDetailsExpandBtnShown]="false"
    [validationResultsExpanded]="true"
    [submitBtnShown]="false"
    [cancelValidationBtnShown]="false"
    [clearValidatorBtnShown]="false"
    [buttonTxtColor] = "'white'"
    [buttonBackgroundColor] = "config.backgroundColor"
    (onValidation)="onValidation($event)"
    (onApiError)="onValidationError($event)"
    (onResourceContentChanged)="onResourceContentChanged($event)"
    [exportValidationResultsBtnName]="'Export Results (.zip)'"
    [exportValidationResultsBtnVisible]="true"
    (onExportValidationResults)="onExportValidationResults($event)"
  />

</div>

<div class="padding-top-md">
  <h3>2. Submit MDI FHIR Bundle to Raven</h3>
  <div class="content-offset padding-top-md">
    <button mat-raised-button [style.background-color]="config.backgroundColor" [style.color]="'white'"
            (click)="onSubmit()" *ngIf="!invalidResourceFound || preconditionError">
      <mat-icon>send</mat-icon>
      Submit
    </button>
    <button mat-raised-button color="warn" (click)="onSubmitInvalidRecord()"
            *ngIf="invalidResourceFound && !preconditionError && !isLoading"
            [style.background-color]="config.backgroundColor" [style.color]="'white'"
    >
      <mat-icon>send</mat-icon>
      Submit Invalid Record
    </button>

  </div>
</div>
