<div class="margin-top-md">
  <h3>1. Select an MDI FHIR Bundle (JSON)</h3>
</div>
<p>You may select a local JSON file or paste the JSON directly into the provided area below.</p>
<p><b> Warning:</b> To prevent the creation of duplicate records, existing records are overwritten.</p>
<div class="content-offset">
  <lib-ngx-fhir-validator
    [formatResourceBtnShown]="false"
    [resultDetailsExpandBtnShown]="false"
    [validationResultsExpanded]="true"
    [submitBtnShown]="false"
    [cancelValidationBtnShown]="false"
    [clearValidatorBtnShown]="false"
    [buttonTxtColor] = "'white'"
    [buttonBackgroundColor] = "config.backgroundColor"
    (onValidation)="onValidation($event)"
    (onApiError)="onValidationError($event)"
    (onResourceContentChanged)="onResourceContentChanged($event)"
    [exportValidationResultsBtnName]="'Export Validation Results (.zip)'"
    (onExportValidationResults)="onExportValidationResults($event)"
    [igList]="igList"
  />

</div>

<div class="padding-top-md">
  <h3>2. Validate Record</h3>
  <div class="content-offset">
    <button mat-raised-button [style.background-color]="config.backgroundColor" [style.color]="'white'"
            (click)="onValidate()">
      Validate Record
    </button>
  </div>
  <div class="padding-top-md">
    <h3>3. Import MDI FHIR Bundle to Raven</h3>
      <button mat-raised-button color="warn" (click)="onImportRecord()"
              [disabled]="preconditionError || isLoading || !validationExecuted"
              [style.background-color]="validationExecuted ? config.backgroundColor: '#53A26E'"
              [style.color]="'white'"
      >
      <mat-icon>send</mat-icon>
      Import Record
    </button>

  </div>
</div>
