<!--<div>-->
  1. Select a FHIR JSON file to upload and preview or paste your FHIR Bundle directly in the provided area.
  To prevent the creation of duplicate records, existing records are overwritten.
  <div class="content-offset">
    <lib-ngx-fhir-validator
      [formatResourceBtnShown]="false"
      [resultDetailsExpandBtnShown]="true"
      [resultDetailsExpandBtnShown]="true"
      [submitBtnShown]="false"
      [cancelValidationBtnShown]="false"
      [clearValidatorBtnShown]="false"
      (onValidation)="onValidation($event)"
      (onApiError)="onValidationError($event)"
      (onResourceContentChanged)="onResourceContentChanged($event)"
    />

  </div>
<!--</div>-->

<div class="top-padding">
  2. Submit your Bundle to the Raven.
  <div class="content-offset top-padding">
    <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="!invalidResourceFound || preconditionError">
      <mat-icon>send</mat-icon>
      Submit
    </button>
    <button mat-raised-button color="warn" (click)="onSubmitInvalidRecord()"
            *ngIf="invalidResourceFound && !preconditionError && !isLoading">
      <mat-icon>send</mat-icon>
      Submit Invalid Record
    </button>

  </div>
</div>
