.response-container {
  margin-top: 1em;
  padding: 1em;
  min-height: 300px;
  height: 80%;
  width: 90%;
  border: #cdcdcd 1px solid;
  border-radius: 4px;
  overflow: auto;
}

.response-container-error  {
  @extend .response-container;
  border-color: red;
}

.operation-outcome-html {
  border: red 1px solid;
  border-radius: 4px;
  padding: 1em;
  margin: 1em
}
.result-label{
  font-weight: bold;
}

.result-line-item{
  margin: 1em 0;
  display: flex;
}
.table-line{
  font-size: small;
}

.label-line {
  flex: 0 0 30%;
  font-weight: bold;
}

.result-line {
  flex: 1;
  display: flex;
  margin-top: 0;
}
